<div data-ng-show="ctrl.editing && !ctrl.disabled" class="sd-text">
    <div class="input-group sd-text__input-container" style="width: 100%">
        <input type="text"
               class="form-control"
               ng-model="ctrl.value"
               placeholder="{{this.emptyValue || '- нет -'}}"
               data-ng-maxlength="ctrl.maxlength"
               data-ng-minlength="ctrl.minlength"
               data-ng-required="ctrl.required"
               data-ng-disabled="ctrl.disabled"
        >
    </div>
</div>

<!--Режим просмотра-->
<div data-ng-hide="ctrl.editing" class="sd-text-view"><span ng-bind="ctrl.displayValue"></span></div>