<div class="sd-vote">
    <div>
        <div class="sd-vote__label-container">
            <label>Комментарий:</label>
        </div>
        <sd-textarea target="ctrl.commentText"
                     editing="true"
                     class="sd-vote__textarea"
                     disabled="ctrl.busy"
        >
        </sd-textarea>
    </div>
    <div class="input-group-btn input-group-btn-each-border">
        <button class="btn btn-default"
                ng-click="ctrl.makeVote(true)"
                ng-disabled="ctrl.busy"
        >Согласовать</button>
        <button class="btn btn-default"
                ng-disabled="!ctrl.isButtonRefuseActive || ctrl.busy"
                ng-click="ctrl.makeVote(false)"
                title="{{ctrl.isButtonRefuseActive ? null : 'Укажите причину'}}"
        >Отказать</button>
    </div>
</div>