<nav id="app-header" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
      <div class="navbar-header">
          <!-- TODO не понятно что за кнопка -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu"> 
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" data-ui-sref="app.main">
              <img alt="logo" src="assets/img/logo.png">
          </a>
      </div>

      <div class="collapse navbar-collapse" id="main-menu">
          <ul class="nav navbar-nav" *ngIf="authorized">
              <li *ngIf="canSeeTabChanges">
                  <a data-ui-sref="app.change.list">
                      <span class="glyphicon glyphicon-cloud"></span> Изменения
                  </a>
              </li>
              <li *ngIf="canSeeTabServiceCalls">
                  <a data-ui-sref="app.servicecall.list">
                      <span class="glyphicon glyphicon-phone-alt"></span> Заявки
                  </a>
              </li>
              <li *ngIf="canSeeTabWorkorders">
                  <a data-ui-sref="app.workorder.list">
                      <span class="glyphicon glyphicon-th"></span> Наряды
                  </a>
              </li>
              <li *ngIf="canSeeTabPersons">
                  <a data-ui-sref="app.person.list">
                      <span class="glyphicon glyphicon-user"></span> Персоны
                  </a>
              </li>
              <li *ngIf="canSeeTabConfigurationItems">
                  <a data-ui-sref="app.configurationItem.list">
                      <span class="glyphicon glyphicon-wrench"></span> Объекты
                  </a>
              </li>
              <li *ngIf="canSeeTabProblems">
                  <a data-ui-sref="app.problem.list">
                      <span class="glyphicon glyphicon-flash"></span> Проблемы
                  </a>
              </li>
              <li>
                  <a data-ui-sref="app.question.list">
                      <span class="glyphicon glyphicon-book"></span> База знаний
                  </a>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" data-ng-show="authorized">
              <li class="dropdown">
                  <!-- todo добавить аватар пользователя -->
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                     aria-haspopup="true" aria-expanded="false"> {{user.name}} <span class="caret"></span></a>
                     
                  <ul class="dropdown-menu">
                      <li>
                          <a data-ui-sref="app.person({personId:user.person.id})">
                              <span class="glyphicon glyphicon-user"></span> Параметры персоны
                          </a>
                      </li>
                      <li>
                          <a href="javascript:void(0)" data-ui-sref="app.change-password"><span class="glyphicon glyphicon-cog"></span> Сменить пароль</a>
                      </li>
                      <li role="separator" class="divider"></li>
                      <li><a href="javascript:void(0)" data-ng-click="logout()" style="cursor:pointer">
                          <span class="glyphicon glyphicon-log-out"></span> {{logout}} </a>
                      </li>
                  </ul>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" data-ng-hide="authorized">
              <li>
                  <a href="javascript:void(0)" data-ng-click="loginClick()"><span class="glyphicon glyphicon-user"></span> Войти</a>
              </li>
          </ul>
      </div>
  </div>
</nav>

<div id="app-content" class="state-app" data-ui-view></div>