<div class="dialog-image-popup">
    <div class="dialog-image-popup__cross" title="Закрыть">
        <i class="fa fa-times dialog-image-popup__cross__image"></i>
    </div>
    <div class="dialog-image-popup__img-box">
        <div class="dialog-image-popup__img-box__panel">
            <div class="dialog-image-popup__img-box__panel__pagination">
                <span>12/20</span>
            </div>
            <div class="dialog-image-popup__img-box__panel__left-btn">
                <i class="fa fa-chevron-left"></i>
            </div>
            <div class="dialog-image-popup__img-box__panel__right-btn">
                <i class="fa fa-chevron-right"></i>
            </div>
        </div>
        <div class="dialog-image-popup__img-box__pagination">

        </div>
        <img ng-src="{{ctrl.url}}" class="dialog-image-popup__img-box__img">
    </div>
</div>