@middle-screen: 1199px;
@small-screen: 991px;
@smallest-screen: 560px;

@statusBar-arrow-size: 26px;
@text-padding: @statusBar-arrow-size * sqrt(2) / 2;

.status-bar {
  .progress();
  transition: none;
  height: 30px;
  border-radius: 15px;
  margin-bottom: 0;

  &__part{
    .progress-bar();
    transition: none;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    &>.status-bar__part__name{
      margin-left: @text-padding;
      overflow:hidden;
      text-overflow:clip;
      @media (max-width: @smallest-screen) {
        margin-left: 0;
      }
    }

    // Префаб для стрелочек
    &:after{
      content:"";
      position:absolute;
      display: block;
      z-index: 20;
      width: @statusBar-arrow-size;
      height: @statusBar-arrow-size;
      left:100%;
      transform: rotate(135deg) translate(8px,11px);
      bottom: 0;

      border: 3px solid whitesmoke;
      border-bottom: none;
      border-right: none;
    }
    // Классы, отвечающие за цвет части статусбара. :after и :before формируют стрелочки
    &.past {
      background-color: #444444;
      &:after{
        background: linear-gradient(135deg, #444444 50%, transparent 50%);
      }
      &:last-child:before, &:last-child:after {
        content: normal;
      }
      @media (max-width: @smallest-screen) {
        display: none;
      }
    }
    &.current {
      background-color: #2a6496;
      &:after{
        background: linear-gradient(135deg, #2a6496 50%, transparent 50%);
      }
      &:last-child:before, &:last-child:after {
        content: normal;
      }
      @media (max-width: @smallest-screen) {
        min-width: 100%;
        &:after{ content: ""}
      }
    }
    &.future {
      background-color: #c8c8c8;
      &:after{
        background: linear-gradient(135deg, #c8c8c8 50%, transparent 50%);
      }
      &:last-child:before, &:last-child:after {
        content: normal;
      }
      @media (max-width: @smallest-screen) {
        display: none;
      }
    }

    &__name {
      line-height: 30px;
    }
  }

}
