@middle-screen: 1199px;
@small-screen: 991px;
@smallest-screen: 767px;

@font-size: @font-size-base;

.entity-container {
  display: block;
  font-size: @font-size;
  min-height: 20px;
  padding: 0;
  background-color: #f8f8f8;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);

  &__header {
    background-color: #f1f1f1;
    font-size: 14px;
  }

  &__content {
    display: block;
    padding: 7px;
  }

  // Границы для контентов
  &>&__content {
    border-bottom: 1px solid #e3e3e3;
  }
  &>&__content:last-child {
    border-bottom: none;
  }

}

.entity-properties {
  font-size: 0;
}

.entity-property {
  display: inline-block;
  width: 435px;
  margin: 10px 0;
  position: relative;
  @media (max-width: @small-screen){
    width: 100%;
    margin-right: 0;
  }
  &:nth-of-type(2n-1) {
    margin-right: 20px;
    @media (max-width: @small-screen){
      margin-right: 0;
    }
  }
}

/**
  Столбец свойств. Для случая, когда свойство не умещается в 1 строку.
 */
.entity-property-col {
  .entity-property();
  vertical-align:top;

  &>.entity-property-name {
    vertical-align:top
  }

  &.editing>.entity-property-name {
    vertical-align:50%;
  }

}

/**
  Для свойств, которые умещаются в 1 строку.
 */
.entity-inline-property {
  .entity-property();

  &.editing {
    height: 30px;
  }

  &.editing>.entity-property-name{
    vertical-align: 50%;
    @media (max-width: @small-screen){
      vertical-align: baseline;
    }
  }
}

.entity-property-name {
  font-size: @font-size;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding-right: 10px;
  width: 185px;
  text-align: right;
  white-space: nowrap;
  @media (max-width: @small-screen){
    width: 100%;
    text-align: left;
  }
}

.entity-property-value {
  font-size: @font-size;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 250px;
  @media (max-width: @small-screen){
    width: 100%;
  }
}