@middle-screen: 1199px;
@small-screen: 991px;
@smallest-screen: 767px;

@font-size: @font-size-base;

@disabled-text-color: #b0bcc7;

.entity-container {
  display: block;
  font-size: @font-size;
  min-height: 20px;
  padding: 0;
  background-color: #f8f8f8;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);

  &__header {
    background-color: #f1f1f1;
    font-size: 14px;
    padding: 7px;
    &.title-bar  {
      margin-right: 10px;
    }
    &.tab-bar  {
      display: none;
    }
  }

  &__content {
    display: block;
    padding: 7px;
    &.no-padding {
      padding: 0;
    }
  }

  // Границы для контентов
  &>&__content {
    border-bottom: 1px solid #e3e3e3;
  }
  &>&__content:last-child {
    border-bottom: none;
  }

  &.creation-view {
    width: 100%;
  }
}

.entity-properties {
  font-size: 0;
}

/** Нужен для entity-property-col и entity-inline-property. Абстрактный стиль */
.entity-property {
  display: inline-block;
  width: 435px;
  margin: 10px 0;
  position: relative;
  @media (max-width: @small-screen){
    width: 100%;
    margin-right: 0;
  }
  &:nth-of-type(2n-1) {
    margin-right: 20px;
    @media (max-width: @small-screen){
      margin-right: 0;
    }
  }
}

/**
  Столбец свойств. Для случая, когда свойство не умещается в 1 строку.
 */
.entity-property-col {
  .entity-property();
  vertical-align:top;

  &>.entity-property-name {
    vertical-align:top
  }

  &.editing>.entity-property-name {
    vertical-align:50%;
  }

}

/**
  Для свойств, которые умещаются в 1 строку.
 */
.entity-inline-property {
  .entity-property();

  &.editing {
    height: 30px;
  }

  &.editing>.entity-property-name{
    vertical-align: 50%;
    @media (max-width: @small-screen){
      vertical-align: baseline;
    }
  }
}

.entity-property-name {
  font-size: @font-size;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding-right: 10px;
  width: 185px;
  text-align: right;
  white-space: nowrap;
  @media (max-width: @small-screen){
    width: 100%;
    text-align: left;
  }
}

.entity-property-value {
  font-size: @font-size;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 250px;
  @media (max-width: @small-screen){
    width: 100%;
  }
}

.entity-navbar>li>a {
  padding-top: 3px;
  padding-bottom: 3px;
}


// Текущие стили, использующиеся в сущностях
// ToDo провести рефакторинг, переименовать стили, стереть старые

@e-prop-width: 460px;
@e-prop__label-width: 162px;
@e-prop__value-width: @e-prop-width - @e-prop__label-width - 5;
.e-prop {
  font-size: @font-size;
  display: inline-block;
  width: @e-prop-width;
  position: relative;
  white-space: nowrap;
  height: 42px;
  margin-left: 20px;
  @media (max-width: @small-screen){
    width: 100%;
    margin-right: 0;
    height: auto;
  }

  &>label {
    font-size: @font-size;
    width: @e-prop__label-width;
    display: inline-block;
    margin-bottom: 0;
    text-align: left;
    white-space: nowrap;
    height: 42px;
    vertical-align: middle;
    padding-top: 12px;
    @media (max-width: @small-screen){
      width: 100%;
      display: block;
      height: auto;
      text-align: left;
    }
  }
  &-required>label:after{
    content: " *";
    color: red;
    font-weight: bold;
  }

  &__value {
    font-size: @font-size;
    padding: 0;
    margin: 0;
    display: inline-block !important;
    //overflow: hidden;
    text-overflow: ellipsis;
    width: @e-prop__value-width;
    @media (max-width: @small-screen){
      width: 100%;
      height: auto;
    }
    height: 42px;
  }
}


//sd-text

.e-prop__value { // Изменяем sd-text под e-prop
  & .sd-text {
    height: 42px;
    padding-top: 4px;
    &__input-container{
      width: 100%;
    }
  }

  & .sd-text-view {
    height: 42px;
    padding-top: 12px;
    padding-left: 13px;
    //text-overflow: ellipsis;
    overflow-x: auto;
    overflow-y: hidden;
  }
}


.entity-text { // Изменяем sd-text под subject/тему
  margin-left: 10px;
  & label {
    margin-right: 10px;
    margin-bottom: 0;
    height: 42px;
    padding-left: 12px;
    padding-top: 8px;
    width: 164px;
    text-align: left;
    vertical-align: top;
  }
  &-required label:after{
    position: absolute;
    content: " *";
    color: red;
    font-weight: bold;
  }

  &__inline-field {
    display: inline-block;
    vertical-align: middle;
    width: 500px;
    white-space: nowrap;
  }

  &__multiline-field {
    display: inline-block;
    vertical-align: top;
    width: 500px;
    margin-bottom: 10px;
  }

  & .sd-text {
    height: 42px;
    &__input-container{
      width: 100%;
    }
  }
  & .sd-text-view {
    height: 42px;
    padding-top: 8px;
    padding-left: 13px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  & .sd-textarea {
    max-height: 500px;
    overflow-y: auto;
  }

  & .sd-textarea-view {
    max-height: 500px;
    padding-top: 7px;
    padding-left: 13px;
    white-space: pre-wrap;
    margin-bottom: 7px;
    word-break: break-word;
    padding-right: 13px;
  }

}

