@import "bootstrap/variables";
@import "dialogs";
@import "bootstrap";
@import "ui-grid";
@import "ModalAction";
@import "entity";
@import "field";

html,body {
  height: 100%;
}

.state-app {
  /* из-за фиксированного заголовка */
  padding-top: 50px;
  width: 100%;
  min-height: 100%;
  position: relative;
}
// > main
/* Оформление главной страницы. Текст по центру */
#main-page{
  position: absolute;
  transform: translate(0,-50%);
  top: 50%;
  width: 100%;
}
#main-page>div{
  color: #cccccc;
  text-align: center;
  font-size: 30px;
  text-shadow: 5px 5px 5px rgba(180, 180, 180, 0.2);
  margin: 0 auto;
  margin-top: -70px;
  width: 450px;
}
#main-page p + p {
  font-size: 20px;
}
#main-page .contacts {
  text-align: left;
  font-size: 14px;
}
// < main
// > header
.navbar-brand img {
  margin-top: -7px;
}
// < header
// > login_form
#login_form .panel {
  margin: 0 auto;
  width: 400px;
  margin-top: 30px;
}
#login_form .panel-footer > .btn-group {
  width: 100%;
}
// < login_form

/* Панель для отображения информации о версии приложения и его сборке */
.build-info {
  font-size: 80%;
  padding-top: 6px;
  margin-right: 10px;
}
.messages{
  font-size: 90%;
}

.narrow-panel {
  margin-top: 0;
  margin-bottom: 0;
  border-top: none;
}

.ui-grid-row:hover .ui-grid-cell-contents{
  background-color: #2FA1B9;
}
.ui-grid-menu-button {
  border: none;
  height: inherit;
}

.ui-grid-menu .ui-grid-menu-inner ul li button {
  padding: 4px;
}

.right {
  float: right;
  display: block;
}

.left {
  float: left;
  display: block;
}

.clear{
  clear: both;
}