@import "bootstrap/variables";
@import "dialogs";
@import "bootstrap";
@import "ui-grid";
@import "ModalAction";
body {
  /* из-за фиксированного заголовка */
  padding-top: 50px;
}
// > main
/* Оформление главной страницы. Текст по центру */
#main-page{
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
}
#main-page>div{
  color: #cccccc;
  text-align: center;
  font-size: 30px;
  margin-top: -50px;
  text-shadow: 5px 5px 5px rgba(180, 180, 180, 0.2);
}
#main-page p  + p {
  font-size: 20px;
}
// < main
// > header
.navbar-brand img {
  margin-top: -7px;
}
// < header
// > login_form
#login_form .panel {
  margin: 0 auto;
  width: 400px;
  margin-top: 30px;
}
#login_form .panel-footer > .btn-group {
  width: 100%;
}
// < login_form

/* Панель для отображения информации о версии приложения и его сборке */
.build-info {
  font-size: 80%;
  padding-top: 6px;
  margin-right: 10px;
}
.messages{
  font-size: 90%;
}

//todo
.ui-grid-row:hover .ui-grid-cell-contents{
  background-color: yellow;
}