<!--Режим редактирования-->
<div ng-show="ctrl.isEnabled" class="dropdown datetimepicker-{{ctrl.dropdownId}}">
    <a class="dropdown-toggle" id="datetimepicker-dropdown-{{ctrl.dropdownId}}" role="button" data-toggle="dropdown" data-target=".datetimepicker-{{ctrl.dropdownId}}" href="javascript:void(0)">
        <div class="input-group">
            <input type="text"
                   name="input"
                   class="form-control"
                   data-ng-model="ctrl.formattedDate"
                   data-ng-keydown="ctrl.onKeydown($event)"
                   data-ng-required="!ctrl.isAllowEmpty"
            >
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
            </span>
            <!--ToDo добавить кнопку "очистки"-->
        </div>
    </a>
    <ul class="dropdown-menu" role="menu" data-ng-if="ctrl.isEnabled">
        <datetimepicker   data-ng-model="ctrl.target"
                          data-on-set-time="ctrl.onTimeSet(newDate)"
                          data-datetimepicker-config="ctrl.dateTimePickerConfig"
                          data-before-render="ctrl.beforeCalendarRender($view, $dates, $leftDate, $upDate, $rightDate)">
        </datetimepicker>
    </ul>
</div>

<!--Режим просмотра-->
<div ng-hide="ctrl.isEnabled" class="field-disabled-offset">
    <span ng-bind="ctrl.formattedDate"></span>
</div>