<div class="dropdown">
    <a class="dropdown-toggle" id="{{ctrl.dropdownId}}" role="button" data-toggle="dropdown" data-target=".dropdown" href="javascript:void(0)">
        <div class="input-group">
            <input type="text"
                   name="input"
                   class="form-control"
                   data-ng-model="ctrl.formattedDate"
                   data-ng-disabled="!ctrl.isEnabled"
                   data-ng-keydown="ctrl.onKeydown($event)"
                   data-ng-required="!ctrl.isAllowEmpty"
            >
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
            </span>
            <!--ToDo добавить кнопку "очистки"-->
        </div>
    </a>
    <ul class="dropdown-menu" role="menu" data-ng-if="ctrl.isEnabled">
        <datetimepicker   data-ng-model="ctrl.target"
                          data-on-set-time="ctrl.onTimeSet(newDate)"
                          data-datetimepicker-config="ctrl.dateTimePickerConfig">
        </datetimepicker>
    </ul>
</div>