<!--Режим редактирования-->
<div data-ng-show="ctrl.editing && !ctrl.disabled" class="sd-datetime dropdown datetimepicker-{{ctrl.dropdownId}}">
    <a class="dropdown-toggle" id="datetimepicker-dropdown-{{ctrl.dropdownId}}" role="button" data-toggle="dropdown" data-target=".datetimepicker-{{ctrl.dropdownId}}" href="javascript:void(0)">
        <div class="input-group sd-datetime__input-container">
            <input type="text"
                   name="input"
                   class="form-control"
                   data-ng-model="ctrl.formattedDate"
                   data-ng-keydown="ctrl.onKeydown($event)"
                   data-ng-required="!ctrl.isAllowEmpty"
                   placeholder="{{ctrl.getPlaceholder()}}"
            >
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
            </span>
            <!--ToDo добавить кнопку "очистки"-->
        </div>
    </a>
    <ul class="dropdown-menu" role="menu" data-ng-if="ctrl.isEnabled">
        <datetimepicker ng-model="ctrl.selectedDate"
                        data-on-set-time="ctrl.onTimeSet(newDate,oldDate)"
                        data-datetimepicker-config="ctrl.dateTimePickerConfig"
                        data-before-render="ctrl.beforeCalendarRender($view, $dates, $leftDate, $upDate, $rightDate)">
        </datetimepicker>
    </ul>
</div>

<div data-ng-show="ctrl.editing && ctrl.disabled" class="sd-datetime dropdown">
    <div class="input-group sd-datetime__input-container">
        <input type="text"
               name="input"
               class="form-control"
               data-ng-model="ctrl.formattedDate"
               disabled
        >
        <span class="input-group-addon disabled">
                <i class="glyphicon glyphicon-calendar disabled"></i>
        </span>
    </div>
</div>

<!--Режим просмотра-->
<div data-ng-hide="ctrl.editing" class="sd-datetime-view">
    <span ng-bind="ctrl.formattedDate"></span>
</div>