<div class="modal-content modal-600 dialog-server-error">
    <div class="modal-header dialog-header-error">
        <button type="button" class="close" data-ng-click="ctrl.close()" title="{{'DIALOGS_CLOSE' | translate}}">&times;</button>
        <i class="fa fa-exclamation-triangle fa-lg"></i>
        <span class="modal-title">
            Возникла серверная ошибка
        </span>
    </div>
    <div class="modal-body">
        <div>
            <span ng-bind="ctrl.mainText">Основная информация</span>
        </div>
        <div style="text-align: right">
            <a href="javascript:void(0)"
               ng-click="ctrl.showDetails()"
               ng-hide="ctrl.detailsShown || !ctrl.hasDetails"
            >Подбронее</a>
        </div>
        <div ng-if="ctrl.hasDetails" ng-class="{'details-hidden': !ctrl.detailsShown}" class="dialog-server-error__details">
            <span ng-bind="ctrl.detailsText"></span>
        </div>
        <div style="text-align: right">
            <a href="javascript:void(0)"
               ng-click="ctrl.hideDetails()"
               ng-show="ctrl.detailsShown"
            >Скрыть детали</a>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="ctrl.close()">Ок</button>
    </div>
</div>