<div class="container well entity-container" data-ng-show="ctrl.change && !ctrl.loading">
    <div class="entity-container__back-button">
        <a data-ui-sref="app.changes" href="javascript:void(0)">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </div>
    <div class="entity-header">
        <span>{{ctrl.change.subject}}</span>
    </div>

    <hr class="entity-separator">
    <!--Кнопки в верхнем меню-->
    <div class="entity-tools container-fluid row">
        <!--Кнопки для управления статусом сущности-->
        <div class="col-md-6" data-ng-hide="ctrl.change.isModified">
            <button class="btn btn-info" data-ng-click="window.alert('Наряд создан')">Взять в работу</button>
            <button class="btn btn-info" data-ng-click="window.alert('Наряд создан')">Вернуть в ДС</button>
        </div>
        <!--Кнопки для сброса / сохранения сущности-->
        <div class="col-md-6" data-ng-show="ctrl.change.isModified">
            <button class="btn btn-success" data-ng-click="ctrl.save()">Сохранить</button>
            <button class="btn btn-warning" data-ng-click="ctrl.reset()">Сбросить изменения</button>
        </div>
        <!--Статус бар-->
        <div class="col-md-6" style="text-align: right">
            <div style="margin-bottom: 5px; margin-top: 5px;">
                <div class="progress-bar progress-bar-striped" style="width: 20%; background-color: #404040">Зарегистрировано</div>
                <div class="progress-bar progress-bar-striped" style="width: 20%; background-color: #404040">Направлено</div>
                <div class="progress-bar progress-bar-striped" style="width: 20%; background-color: #2a6496">В работе инженер</div>
                <div class="progress-bar progress-bar-striped" style="width: 20%; background-color: #c8c8c8;">Отработано</div>
                <div class="progress-bar progress-bar-striped" style="width: 20%; background-color: #c8c8c8;">Закрыто</div>
            </div>
        </div>
    </div>

    <hr class="entity-separator">
    <div >
        <div style="font-weight: bold;">Подробная информация: </div>
        {{ ctrl.change.description || ctrl.emptyValue }}
    </div>

    <hr class="entity-separator">
    <div class="entity-content">
        <div class="col-md-6">

            <div class="entity-property">
                <div class="entity-property__name">
                    <span>Инициатор:</span>
                </div>
                <div class="entity-property__value">
                    <sd-dropdown
                            target="ctrl.change.initiator"
                            fetch-data="ctrl.SD.Person.list()"
                            placeholder="Введите имя персоны"
                            display-value="$value.fullName"
                    ></sd-dropdown>
                </div>
            </div>

        </div>
        <div class="col-md-6">

            <div class="entity-property">
                <div class="entity-property__name">
                    <span>Менеджер:</span>
                </div>
                <div class="entity-property__value">
                    <sd-dropdown
                            target="ctrl.change.manager"
                            fetch-data="ctrl.SD.Person.list()"
                            placeholder="Введите имя персоны"
                            display-value="$value.fullName"
                    ></sd-dropdown>
                </div>
            </div>

        </div>
    </div>

    <hr class="entity-separator">
    <div class="entity-content">
        <div class="col-md-6">

            <div class="entity-property">
                <div class="entity-property__name">
                    <span>Дата создания:</span>
                </div>
                <div class="entity-property__value">
                    <sd-datetime
                            target="ctrl.change.createdDate"
                            allow-empty="false"
                    ></sd-datetime>
                </div>
            </div>

            <div class="entity-property">
                <div class="entity-property__name">
                    <span>Крайний срок:</span>
                </div>
                <div class="entity-property__value">
                    <sd-datetime
                            target="ctrl.change.deadline"
                            allow-empty="false"
                    ></sd-datetime>
                </div>
            </div>

            <div class="entity-property">
                <div class="entity-property__name">
                    <span>Фактически выполнено:</span>
                </div>
                <div class="entity-property__value">
                    <sd-datetime
                            target="ctrl.change.resolvedDate"
                            allow-empty="false"
                            enabled="false"
                    ></sd-datetime>
                </div>
            </div>

        </div>
        <div class="col-md-6">

            <div class="entity-property">
                <div class="entity-property__name">
                    <span>Статус:</span>
                </div>
                <div class="entity-property__value">
                    <sd-dropdown
                            target="ctrl.change.status"
                            fetch-data="ctrl.SD.Status.list()"
                            placeholder="Введите имя персоны"
                            display-value="$value.fullName"
                            search-enabled="false"
                    ></sd-dropdown>
                </div>
            </div>

            <div class="entity-property">
                <div class="entity-property__name">
                    <span>Приоритет:</span>
                </div>
                <div class="entity-property__value">
                    <sd-dropdown
                            target="ctrl.change.priority"
                            fetch-data="ctrl.SD.Status.list()"
                            placeholder="Введите имя персоны"
                            display-value="$value.fullName"
                            search-enabled="false"
                    ></sd-dropdown>
                </div>
            </div>

        </div>
    </div>

    <hr class="entity-separator">

</div>

<div data-ng-show="ctrl.loading" style="padding-top: 200px; text-align: center">
    <div>Загрузка</div>
</div>

<div class="container" data-ng-if="ctrl.loadingError && !ctrl.loading" style="padding-top: 200px; text-align: center">
    <div class="panel panel-danger" data-ng-if="ctrl.loadingErrorIsNotFound">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-ban-circle"></span>
                Персона не найдена
            </h3>
        </div>
        <div class="panel-body">
            Перейдите ко
            <a data-ui-sref="app.changes">списку изменений</a>,
            чтобы найти нужное изменение
        </div>
    </div>
    <div class="panel panel-danger" data-ng-if="ctrl.loadingErrorIsCustom">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-ban-circle"></span>
                Возникла непредвиденная ошибка
            </h3>
        </div>
        <div class="panel-body">
            <span data-ng-bind="ctrl.loadingError"></span>
        </div>
    </div>
</div>