<div class="container well entity-container" data-ng-show="ctrl.change && !ctrl.loading">
    <div class="entity-header">
        <a data-ui-sref="app.changes">[<<]</a>
        <span>{{ctrl.change.subject}}</span>
    </div>

    <hr class="entity-separator">
    <div class="entity-tools container-fluid row">
        <div class="col-md-6">
            <button class="btn btn-default" data-ng-click="window.alert('Наряд создан')">Тут должны быть кнопки</button>
        </div>
        <div class="col-md-6" style="text-align: right">
            Статус изменения
        </div>
    </div>

    <hr class="entity-separator">
    <div >
        <div style="font-weight: bold;">Подробная информация: </div>
        <a href="javascript:void(0)"
           editable-textarea="ctrl.change.description"
           e-rows="3"
           e-cols="100">
            <pre>{{ ctrl.change.description || ctrl.emptyValue }}</pre>
        </a>
    </div>

    <hr class="entity-separator">
    <div class="entity-content">
        <div class="col-md-6">
            <div class="property">
                <div class="property__name">Инициатор:</div>
                <div class="property__value">
                    <div editable-ui-select="ctrl.change.initiator"
                         data-e-form="uiSelectForm"
                         data-e-name="initiator"
                         name="initiator"
                         theme="bootstrap"
                         data-e-reset-search-input="false"
                         data-e-ng-disabled="false"
                         data-e-ng-model="change.initiator"
                         data-e-style="min-width:300px;"
                    >
                        {{ctrl.change.initiator}}
                        <editable-ui-select-match placeholder="State">
                            {{$select.selected}}
                        </editable-ui-select-match>
                        <editable-ui-select-choices
                                repeat="p in ctrl.initiators | filter: $select.search track by $index"
                                refresh="ctrl.loadPersons('initiators')"
                                refresh-delay="0"
                        >
                            {{p}}
                        </editable-ui-select-choices>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="property">
                <div class="property__name">Менеджер:</div>
                <div class="property__value" data-ng-bind="ctrl.change.manager || ctrl.emptyValue"></div>
            </div>
        </div>
    </div>

    <hr class="entity-separator">
</div>

<div data-ng-show="ctrl.loading" style="padding-top: 200px; text-align: center">
    <div>Загрузка</div>
</div>

<div class="container" data-ng-if="ctrl.loadingError && !ctrl.loading" style="padding-top: 200px; text-align: center">
    <div class="panel panel-danger" data-ng-if="ctrl.loadingErrorIsNotFound">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-ban-circle"></span>
                Персона не найдена
            </h3>
        </div>
        <div class="panel-body">
            Перейдите ко
            <a data-ui-sref="app.changes">списку изменений</a>,
            чтобы найти нужное изменение
        </div>
    </div>
    <div class="panel panel-danger" data-ng-if="ctrl.loadingErrorIsCustom">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-ban-circle"></span>
                Возникла непредвиденная ошибка
            </h3>
        </div>
        <div class="panel-body">
            <span data-ng-bind="ctrl.loadingError"></span>
        </div>
    </div>
</div>