<div *ngIf="editing && !disabled" class="sd-number">
  <div class="input-group sd-number__input-container">
      <span class="input-group-btn" style="width: 35px">
          <button class="btn btn-primary" style="width: 35px" type="button" (click)="decreaseValue()">
              <span class="fa fa-minus"></span>
          </button>
      </span>
      <input type="text"
             class="form-control"
             placeholder="Число"
             style="text-align: center"
             [(ngModel)]="value">
      <span class="input-group-btn" style="width: 35px">
          <button class="btn btn-primary" style="width: 35px" type="button" (click)="increaseValue()">
              <span class="fa fa-plus"></span>
          </button>
      </span>
  </div>
</div>

<div *ngIf="editing && disabled" class="sd-number">
  <div class="input-group sd-number__input-container" >
      <span class="input-group-btn" style="width: 35px">
          <button class="btn btn-primary disabled" style="width: 35px" type="button">
              <span class="fa fa-minus"></span>
          </button>
      </span>
      <input type="text"
             class="form-control"
             placeholder="emptyValue"
             style="text-align: center"
             [(ngModel)]="value"
             [disabled]="true">
      <span class="input-group-btn" style="width: 35px">
          <button class="btn btn-primary disabled" style="width: 35px" type="button">
              <span class="fa fa-plus"></span>
          </button>
      </span>
  </div>
</div>

<div *ngIf="!editing" class="sd-number-view">
  <span>{{value}}</span>
</div>
