<div>

    <div class="sd-attachments-list">
        <sd-attachment-item
                ng-repeat="$item in ctrl.attachments"
                attachment="$item"
        ></sd-attachment-item>
        <a href="javascript:void(0)">
            <sd-attach-box on-attach="ctrl.onFileAttach($files)">
            </sd-attach-box>
        </a>
        <sd-uploading-file
            ng-repeat="$file in ctrl.uploadingFiles"
            file-name="$file.name"
            percentage="53"
        >
        </sd-uploading-file>
    </div>

</div>