<div>

    <div class="sd-attachments-list">
        <sd-attachment-item
                ng-repeat="$item in ctrl.attachments"
                attachment="$item"
        ></sd-attachment-item>
        <a href="javascript:void(0)">
            <sd-attach-box on-attach="ctrl.$onFileAttach($files)">
            </sd-attach-box>
        </a>
        <sd-uploading-file
            ng-repeat="$info in ctrl.uploadingInfos"
            file-name="$info.file.name"
            percentage="$info.progress"
        >
        </sd-uploading-file>
    </div>

</div>