<div class="entity-container__content">
    <form class="form-inline">
        <div class="form-group entity-text" style="width: 100%; height: 42px">
            <label>Editable:</label>
            <div class="entity-text__inline-field">
                <app-sd-text
                    [value]="editable"
                    (valueChange)="test($event)"
                    [editing]="firstToggler"
                    [validate]="validate">
                </app-sd-text>
            </div>
        </div>
        <button (click)="firstChange()">X</button>
        <span>{{editable}}</span>

        <div class="form-group entity-text" style="width: 100%; height: 42px">
            <label>Disabled:</label>
            <div class="entity-text__inline-field">
                <app-sd-text
                    [value]="notEditable"
                    (valueChange)="notEditable=$event"
                    [editing]="true"
                    [disabled]="true">
                </app-sd-text>
            </div>
        </div>

        <div class="form-group entity-text" style="width: 100%; height: 42px" >
            <label>Not Editable:</label>
            <div class="entity-text__inline-field">
                <app-sd-text
                    [value]="notEditable"
                    (valueChange)="notEditable=$event"
                    [editing]="false">
                </app-sd-text>
            </div>
        </div>
    </form>
</div>

<hr>

<div class="entity-container__content">
  <form class="form-inline">
      <div class="form-group entity-text" style="width: 100%; height: 42px">
          <label>Editable:</label>
          <div class="entity-text__inline-field">
              <app-sd-text
                  [value]="editable"
                  (valueChange)="test($event)"
                  [editing]="true">
              </app-sd-text>
          </div>
      </div>
      <span>{{editable}}</span>
  </form>
</div>
