<div data-ng-show="ctrl.editing && !ctrl.disabled" class="sd-number">
    <div class="input-group sd-number__input-container">
        <span class="input-group-btn" style="width: 35px">
            <button class="btn btn-primary" style="width: 35px" type="button" data-ng-click="ctrl.decreaseValue()">
                <span class="fa fa-minus"></span>
            </button>
        </span>
        <input type="text"
               class="form-control"
               placeholder="Число"
               style="text-align: center"
               ng-model="ctrl.displayValue"
               data-ng-keydown="ctrl.inputKeyDown($event)"
        >
        <span class="input-group-btn" style="width: 35px">
            <button class="btn btn-primary" style="width: 35px" type="button" data-ng-click="ctrl.increaseValue()">
                <span class="fa fa-plus"></span>
            </button>
        </span>
    </div>
</div>

<div data-ng-show="ctrl.editing && ctrl.disabled" class="sd-number">
    <div class="input-group sd-number__input-container" >
        <span class="input-group-btn" style="width: 35px">
            <button class="btn btn-primary disabled" style="width: 35px" type="button">
                <span class="fa fa-minus"></span>
            </button>
        </span>
        <input type="text"
               class="form-control"
               placeholder="ctrl.emptyValue"
               style="text-align: center"
               ng-model="ctrl.displayValue"
               disabled="true"
        >
        <span class="input-group-btn" style="width: 35px">
            <button class="btn btn-primary disabled" style="width: 35px" type="button">
                <span class="fa fa-plus"></span>
            </button>
        </span>
    </div>
</div>

<div data-ng-hide="ctrl.editing" class="sd-number-view">
    <span ng-bind="ctrl.value"></span>
</div>