<div id="login_form">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>{{'login.title' | translate}}</h1>
        </div>
        <div class="panel-body">
            <form novalidate name="loginForm">
                <div class="form-group">
                    <label for="login">{{'login.user' | translate}}</label>
                    <input type="text" class="form-control" name="login" id="login"
                           placeholder="{{'login.enter.username' | translate}}"
                           data-ng-model="ctrl.login" required data-ng-keyup="ctrl.hitEnter($event)" autofocus>
                    <data-ng-messages class="text-danger" for="loginForm.login.$error" role="alert"
                                      data-ng-show="loginForm.$submitted || loginForm.login.$touched">
                        <data-ng-messages-include src="template.ngMessage.errorMessages"/>
                    </data-ng-messages>
                </div>
                <div class="form-group">
                    <label for="password">{{'login.password' | translate}}</label>
                    <input type="password" class="form-control" name="password" id="password"
                           placeholder="{{'login.enter.password' | translate}}"
                           data-ng-model="ctrl.password" required data-ng-keyup="ctrl.hitEnter($event)">
                    <data-ng-messages class="text-danger" for="loginForm.password.$error" role="alert"
                                      data-ng-show="loginForm.$submitted || loginForm.password.$touched">
                        <data-ng-messages-include src="template.ngMessage.errorMessages"/>
                    </data-ng-messages>
                </div>
                <div class="form-group">
                    <label class="text-danger" data-ng-show="ctrl.loginFailed"
                           data-ng-bind-html="'authentication.incorrect' | translate"></label>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default pull-right"
                        data-ng-disabled="loginForm.$invalid"
                        data-ng-click="ctrl.loginClick()">
                    <span class="glyphicon glyphicon-log-in"></span>
                    {{'login.button.login' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>