<div style="display: inline-block">

    <div data-ng-show="ctrl.isViewMode">
        <span data-ng-hide="ctrl.isEnabled">{{ctrl.currentDisplay}}</span>
        <a data-ng-show="ctrl.isEnabled" href="javascript:void(0)" data-ng-click="ctrl.edit()">{{ctrl.currentDisplay}}</a>
    </div>

    <div data-ng-show="ctrl.isEditMode"
         data-sd-on-interact-out="ctrl.onClickOut()"
         data-sd-on-interact-out-if="ctrl.isEditMode">

        <div class="input-group">

            <div class="btn-group" data-ng-class="{'open': (ctrl.isReady && ctrl.isEditMode) }">
                <input type="text"
                       autocomplete="off"
                       class="form-control"
                       style="border-top-left-radius: 4px; border-bottom-left-radius: 4px;"
                       sd-focus="ctrl.isEditMode"
                       ng-model="ctrl.searchText"
                >
                <ul class="dropdown-menu dropdown-menu-left" role="menu">
                    <li ng-show="ctrl.isAllowEmpty">
                        <a href="javascript:void(0)" ng-click="ctrl.select(null);ctrl.commit(null)" ng-bind="ctrl.display(null)"></a>
                    </li>
                    <li ng-repeat="el in ctrl.foundValues track by $index">
                        <a href="javascript:void(0)" ng-click="ctrl.select(el);ctrl.commit(el)">
                            <span ng-bind="ctrl.display(el)"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <button class="btn btn-default" type="button" ng-click="ctrl.cancel()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>

        </div>

    </div>

</div>