<div style="display: inline-block">

    <div data-ng-show="ctrl.isViewMode">
        <span data-ng-hide="ctrl.isEnabled">{{ctrl.currentDisplay}}</span>
        <a data-ng-show="ctrl.isEnabled" href="javascript:void(0)" data-ng-click="ctrl.edit()">{{ctrl.currentDisplay}}</a>
    </div>

    <div data-ng-show="ctrl.isEditMode"
         data-sd-on-interact-out="ctrl.onClickOut()"
         data-sd-on-interact-out-if="ctrl.isEditMode">

        <div class="input-group">

            <input type="text"
                   autocomplete="off"
                   class="form-control"
                   style="border-top-left-radius: 4px; border-bottom-left-radius: 4px;"
                   sd-focus="ctrl.isEditMode"
                   ng-model="ctrl.searchText"
            >

            <ul class="dropdown-menu dropdown-menu-left"
                role="menu">
                <li ng-if="$allowEmpty && $allowEmpty != 'hide'">
                    <a href="javascript:void(0)"
                       ng-click="$save(null)"
                       ng-bind="$emptyValue"></a>
                </li>
                <li ng-repeat="el in $foundValues">
                    <a href="javascript:void(0)"
                       ng-click="$save(el)"
                       title="{{$title(el)}}">
                        <span ng-show="$useIcon" ng-class="$iconClass(el)" ng-bind="$iconDisplay(el)"></span>
                        <span ng-show="$useImage" class="sd-avatar-inline">
                        <sd-avatar class="sd-inline-avatar sd-avatar-box" data-src="$imageSrc(el)" data-size="20"></sd-avatar>
                    </span>
                        <span ng-bind="$display(el)"></span><code ng-show="$subDisplay(el)" ng-bind="$subDisplay(el)"></code>
                    </a>
                </li>
            </ul>


            <div class="btn-group" data-ng-class="{'open': (ctrl.isReady && ctrl.isEditMode) }">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-ng-hide="ctrl.isError"
                        data-ng-disabled="ctrl.isLoading"
                        sd-focus="ctrl.isEditable && ctrl.isReady"
                        data-toggle="dropdown"
                        data-ng-keydown="ctrl.onButtonKeydown($event)">
                    <span ng-bind="ctrl.currentDisplay"></span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-left" role="menu">
                    <li ng-show="ctrl.isAllowEmpty">
                        <a href="javascript:void(0)" ng-click="ctrl.select(null);ctrl.commit(null)" ng-bind="ctrl.display(null)"></a>
                    </li>
                    <li ng-repeat="el in ctrl.values track by $index">
                        <a href="javascript:void(0)" ng-click="ctrl.select(el);ctrl.commit(el)">
                            <span ng-bind="ctrl.display(el)"></span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </div>

</div>