<div class="modal-header dialog-header-input-message ">
    <button type="button" class="close" data-ng-click="close()" title="{{'DIALOGS_CLOSE' | translate}}">&times;</button>
    <span class="modal-title" data-ng-bind-html="header"/>
</div>
<div class="modal-body">
    <form name="inputMessageForm" novalidate role="form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="{{msg}}"
                   data-ng-model="inputMessage" required name="inputMessage" data-ng-keyup="hitEnter($event)" data-ng-maxlength="255">
            <data-ng-messages data-ng-show="showError" class="text-danger" for="inputMessageForm.inputMessage.$error"
                              role="alert">
                <data-ng-messages-include src="js/app/utils/messages.html"/>
            </data-ng-messages>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" data-ng-click="ok()">{{labelOk}}</button>
    <button type="button" class="btn btn-default" data-ng-click="close()">{{labelClose}}</button>
</div>
