<div class="modal-content">
    <div class="modal-header" data-ng-class="ctrl.dialogStyle">
        <button type="button" class="close" data-ng-click="ctrl.close()" title="{{'DIALOGS_CLOSE' | translate}}">&times;</button>
        <span class="modal-title" data-ng-bind-html="ctrl.header"/>
    </div>
    <div class="modal-body" data-ng-bind-html="ctrl.msg"/>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="ctrl.close()">{{'DIALOGS_CLOSE' | translate}}</button>
    </div>
</div>