<div class="entity-container" data-ng-if="!ctrl.loading && !ctrl.loadingError">
    <!--Кнопки в верхнем меню-->
    <div class="entity-container__content">
        <a class="btn btn-default" data-ng-if="!ctrl.editing" data-ng-click="ctrl.startEditing()">Редактировать</a>
        <button class="btn btn-success" data-ng-if="ctrl.editing" data-ng-disabled="!ctrl.change.checkModified()" data-ng-click="ctrl.saveEditing()">Сохранить</button>
        <button class="btn btn-default" data-ng-if="ctrl.editing" data-ng-click="ctrl.cancelEditing()">Отмена</button>
    </div>

    <div class="entity-container__content">
        <form class="form-inline">
            <div class="form-group entity-text" style="width: 100%; height: 42px">
                <label>Тема:</label>
                <div class="entity-text__inline-field">
                    <sd-text target="ctrl.change.subject" editing="ctrl.editing"></sd-text>
                </div>
            </div>

            <div class="form-group entity-text" style="width: 100%;">
                <label>Подробная информация:</label>
                <div class="entity-text__multiline-field">
                    <sd-textarea target="ctrl.change.description" editing="ctrl.editing"></sd-textarea>
                </div>
            </div>

        </form>
    </div>

    <div class="entity-container__content">
        <form class="form-inline entity-properties">

            <div class="form-group e-prop">
                <label>Инициатор:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.change.initiator"
                             fetch-data="ctrl.SD.Person.list()"
                             placeholder="Введите имя персоны"
                             display-value="$value.fullName"
                             editing="ctrl.editing"
                ></sd-dropdown>
            </div>

            <div class="form-group e-prop">
                <label>Менеджер:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.change.manager"
                             fetch-data="ctrl.SD.Person.list()"
                             placeholder="Введите имя персоны"
                             display-value="$value.fullName"
                             editing="ctrl.editing"
                ></sd-dropdown>
            </div>
        </form>
    </div>

    <div class="entity-container__content">
        <form class="form-inline entity-properties">

            <div class="form-group e-prop">
                <label>Дата создания:</label>
                <sd-datetime
                        class="input-group e-prop__value"
                        target="ctrl.change.createdDate"
                        allow-empty="false"
                        editing="ctrl.editing"
                ></sd-datetime>
            </div>

            <div class="form-group e-prop">
                <label>Статус:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.change.status"
                             fetch-data="ctrl.SD.EntityStatus.list({entityTypeId:ctrl.SD.Change.$entityTypeId})"
                             display-value="$value.fullName"
                             cache="true"
                             editing="ctrl.editing"
                ></sd-dropdown>
            </div>

            <div class="form-group e-prop">
                <label>Крайний срок:</label>
                <sd-datetime
                        class="input-group e-prop__value"
                        target="ctrl.change.deadline"
                        allow-empty="false"
                        editing="ctrl.editing"
                ></sd-datetime>
            </div>

            <div class="form-group e-prop">
                <label>Приоритет:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.change.priority"
                             fetch-data="ctrl.SD.EntityPriority.list()"
                             display-value="$value.fullName"
                             cache="true"
                             editing="ctrl.editing"
                ></sd-dropdown>
            </div>

            <div class="form-group e-prop">
                <label>Фактически выполнено:</label>
                <sd-datetime
                        class="input-group e-prop__value"
                        target="ctrl.change.resolvedDate"
                        allow-empty="false"
                        editing="ctrl.editing"
                ></sd-datetime>
            </div>

            <div class="form-group e-prop">
                <label>Категория:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.change.category"
                             fetch-data="ctrl.SD.EntityCategory.list({entityTypeId:ctrl.SD.Change.$entityTypeId})"
                             display-value="$value.name"
                             cache="true"
                             editing="ctrl.editing"
                ></sd-dropdown>
            </div>

            <div class="form-group e-prop">
                <label>Рабочая группа:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.change.workgroup"
                             fetch-data="ctrl.SD.Workgroup.list()"
                             placeholder="Введите название группы"
                             display-value="$value.name"
                             editing="ctrl.editing"
                ></sd-dropdown>
            </div>

            <div class="form-group e-prop">
                <label>Классифицкаия:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.change.classification"
                             fetch-data="ctrl.SD.EntityClassification.list({entityTypeId:ctrl.SD.Change.$entityTypeId})"
                             display-value="$value.name"
                             cache="true"
                             editing="ctrl.editing"
                ></sd-dropdown>
            </div>
        </form>
    </div>

</div>

<sd-entity-chat entity="ctrl.change" type-map="ctrl.msgTypes">

</sd-entity-chat>

<button class="btn btn-default" data-ng-click="ctrl.createTestChange();">Создать тестовое изменение</button>