<div class="entity-container" data-ng-if="!ctrl.loading && !ctrl.loadingError">

    <div class="entity-container__content entity-container__header">
        <a data-ui-sref="app.change.list" title="Вернуться к списку">Изменения</a>
        <span> \ </span>
        <span style="font-weight: bold">
                    №{{ctrl.change.no}}: {{ctrl.change.subject || ctrl.emptyValue}}
        </span>
    </div>

    <div class="entity-container__content">
        <sd-status-bar target="ctrl.change"
                    status-list="ctrl.statusList"
        ></sd-status-bar>
    </div>

    <!--Кнопки в верхнем меню-->
    <div class="entity-container__content">
        <a class="btn btn-default" data-ui-sref="app.change.card.edit">Редактировать</a>
        <a class="btn btn-default" data-ui-sref="app.change.card.history">История</a>
    </div>

    <div class="entity-container__content entity-properties">
        <div class="entity-property-col">
            <div class="entity-property-name">
                <span>Побробная информация:</span>
            </div>
            <div class="entity-property-value">
                <span ng-bind="ctrl.change.description || ctrl.emptyValue"></span>
            </div>
        </div>
        <div class="entity-property-col">
            <div class="entity-property-name">
                <span>Вложения:</span>
            </div>
            <div class="entity-property-value">
                - Нет -
            </div>
        </div>
    </div>

    <div class="entity-container__content entity-properties">
        <div class="entity-inline-property">
            <div class="entity-property-name">
                <span>Инициатор:</span>
            </div>
            <div class="entity-property-value">
                <span ng-bind="ctrl.change.initiator || ctrl.emptyValue"></span>
            </div>
        </div>

        <div class="entity-inline-property">
            <div class="entity-property-name">
                <span>Менеджер:</span>
            </div>
            <div class="entity-property-value">
                <span ng-bind="ctrl.change.manager || ctrl.emptyValue"></span>
            </div>
        </div>
    </div>

    <div class="entity-container__content entity-properties">
        <div class="entity-inline-property">
            <div class="entity-property-name">
                <span>Дата создания:</span>
            </div>
            <div class="entity-property-value">
                <span>
                    {{(ctrl.change.createdDate | amDateFormat:'MM.DD.YYYY HH:mm:ss') || ctrl.emptyValue}}
                </span>
            </div>
        </div>

        <div class="entity-inline-property">
            <div class="entity-property-name">
                <span>Статус:</span>
            </div>
            <div class="entity-property-value">
                <span ng-bind="ctrl.change.status || ctrl.emptyValue"></span>
            </div>
        </div>

        <div class="entity-inline-property">
            <div class="entity-property-name">
                <span>Крайний срок:</span>
            </div>
            <div class="entity-property-value">
                <span>
                    {{(ctrl.change.deadline | amDateFormat:'MM.DD.YYYY HH:mm:ss') || ctrl.emptyValue}}
                </span>
            </div>
        </div>

        <div class="entity-inline-property">
            <div class="entity-property-name">
                <span>Приоритет:</span>
            </div>
            <div class="entity-property-value">
                <span ng-bind="ctrl.change.priority || ctrl.emptyValue"></span>
            </div>
        </div>

        <div class="entity-inline-property">
            <div class="entity-property-name">
                <span>Фатически выполнено:</span>
            </div>
            <div class="entity-property-value">
                <span>
                    {{(ctrl.change.resolvedDate | amDateFormat:'MM.DD.YYYY HH:mm:ss') || ctrl.emptyValue}}
                </span>
            </div>
        </div>
    </div>

</div>