<div class="entity-container" data-ng-if="!ctrl.loading && !ctrl.loadingError">
    <!--Кнопки в верхнем меню-->
    <div class="entity-container__content">
        <!-- Кнопки для редактирования -->
        <div style="display: inline-block" data-ng-show="ctrl.accessRules.isUpdateEntityAllowed">
            <button class="btn btn-default"
                    ng-if="!ctrl.editing"
                    ng-click="ctrl.startEditing()">
                Редактировать
            </button>
            <button class="btn btn-success"
                    ng-if="ctrl.editing"
                    ng-disabled="!ctrl.checkUnsavedModifies()||!ctrl.isRequiredFieldsFilled"
                    ng-click="ctrl.saveEditing()">
                Сохранить
            </button>
            <button class="btn btn-default"
                    ng-if="ctrl.editing"
                    ng-click="ctrl.cancelEditing()">
                Отмена
            </button>
        </div>
    </div>

    <div class="entity-container__content">
        <form class="form-inline">
            <div class="form-group entity-text entity-text-required" style="width: 100%; height: 42px" ng-if="ctrl.accessRules.canSee('subject')">
                <label>Тема:</label>
                <div class="entity-text__inline-field">
                    <sd-text target="ctrl.change.subject"
                             editing="ctrl.editing"
                             disabled="!ctrl.accessRules.canUpdate('subject')"
                    >
                    </sd-text>
                </div>
            </div>

            <div class="form-group entity-text entity-text-required" style="width: 100%;" ng-if="ctrl.accessRules.canSee('description')">
                <label>Подробная информация:</label>
                <div class="entity-text__multiline-field">
                    <sd-textarea target="ctrl.change.description"
                                 editing="ctrl.editing"
                                 disabled="!ctrl.accessRules.canUpdate('description')"
                    >
                    </sd-textarea>
                </div>
            </div>

            <div class="form-group entity-text" style="width: 100%;" ng-if="ctrl.accessRules.canSee('solution')">
                <label>Решение:</label>
                <div class="entity-text__multiline-field">
                    <sd-textarea target="ctrl.change.solution"
                                 editing="ctrl.editing"
                                 disabled="!ctrl.accessRules.canUpdate('solution')"
                    >
                    </sd-textarea>
                </div>
            </div>

        </form>
    </div>

    <div class="entity-container__content">
        <form class="form-inline entity-properties">

            <div class="form-group e-prop e-prop-required" ng-if="ctrl.accessRules.canSee('initiator')">
                <label>Инициатор:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.change.initiator"
                             fetch-data="ctrl.loadInititators($text)"
                             placeholder="Введите имя персоны"
                             display-value="$value.fullName"
                             editing="ctrl.editing"
                             disabled="!ctrl.accessRules.canUpdate('initiator')"
                ></sd-dropdown>
            </div>

            <div class="form-group e-prop e-prop-required" ng-if="ctrl.accessRules.canSee('manager')">
                <label>Менеджер:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.change.manager"
                             fetch-data="ctrl.loadManagers($text)"
                             placeholder="Введите имя персоны"
                             display-value="$value.fullName"
                             editing="ctrl.editing"
                             disabled="!ctrl.accessRules.canUpdate('manager')"
                ></sd-dropdown>
            </div>

            <div class="form-group e-prop e-prop-required" ng-if="ctrl.accessRules.canSee('assignment')">
                <label>Исполнитель:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.change.assignment.executor"
                             fetch-data="ctrl.loadExecutors($text)"
                             placeholder="Введите имя персоны"
                             display-value="$value.fullName"
                             editing="ctrl.editing"
                             allow-empty="true"
                             fetch-on-change="ctrl.change.assignment.workgroup"
                             disabled="!ctrl.accessRules.canUpdate('assignment')"
                ></sd-dropdown>
            </div>

            <div class="form-group e-prop e-prop-required" ng-if="ctrl.accessRules.canSee('assignment')">
                <label>Рабочая группа:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.change.assignment.workgroup"
                             fetch-data="ctrl.loadWorkgroups($text)"
                             placeholder="Введите название группы"
                             display-value="$value.name"
                             editing="ctrl.editing"
                             allow-empty="true"
                             fetch-on-change="ctrl.change.assignment.executor"
                             disabled="!ctrl.accessRules.canUpdate('assignment')"
                ></sd-dropdown>
            </div>
        </form>
    </div>

    <div class="entity-container__content">
        <form class="form-inline entity-properties">

            <div class="form-group e-prop" ng-if="ctrl.accessRules.canSee('system')">
                <label>Система:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.change.system"
                             fetch-data="ctrl.loadSystems($text)"
                             display-value="$value.name"
                             cache="true"
                             editing="ctrl.editing"
                             disabled="!ctrl.accessRules.canUpdate('system')"
                             allow-empty="true"
                ></sd-dropdown>
            </div>

            <div class="form-group e-prop" ng-if="ctrl.accessRules.canSee('folder')">
                <label>Папка:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.change.folder"
                             fetch-data="ctrl.loadFolders($text)"
                             display-value="$value.name"
                             editing="ctrl.editing"
                             disabled="!ctrl.accessRules.canUpdate('folder')"
                             allow-empty="true"
                             min-symbols-fetch="2"
                ></sd-dropdown>
            </div>

            <div class="form-group e-prop" ng-if="ctrl.accessRules.canSee('createdDate')">
                <label>Дата создания:</label>
                <sd-datetime
                        class="input-group e-prop__value"
                        target="ctrl.change.createdDate"
                        allow-empty="false"
                        editing="ctrl.editing"
                        disabled="!ctrl.accessRules.canUpdate('createdDate')"
                ></sd-datetime>
            </div>

            <div class="form-group e-prop e-prop-required" ng-if="ctrl.accessRules.canSee('status')">
                <label>Статус:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.change.status"
                             fetch-data="ctrl.loadStatuses($text)"
                             display-value="$value.fullName"
                             editing="ctrl.editing"
                             cache="true"
                             disabled="!ctrl.accessRules.canUpdate('status')"
                             fetch-on-change="ctrl.change.status"
                ></sd-dropdown>
            </div>

            <div class="form-group e-prop e-prop-required" ng-if="ctrl.accessRules.canSee('deadline')">
                <label>Крайний срок:</label>
                <sd-datetime
                        class="input-group e-prop__value"
                        target="ctrl.change.deadline"
                        allow-empty="false"
                        editing="ctrl.editing"
                        disabled="!ctrl.accessRules.canUpdate('deadline')"
                ></sd-datetime>
            </div>

            <div class="form-group e-prop e-prop-required" ng-if="ctrl.accessRules.canSee('priority')">
                <label>Приоритет:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.change.priority"
                             fetch-data="ctrl.loadPriorities($text)"
                             display-value="$value.fullName"
                             cache="true"
                             editing="ctrl.editing"
                             disabled="!ctrl.accessRules.canUpdate('priority')"
                ></sd-dropdown>
            </div>

            <div class="form-group e-prop" ng-if="ctrl.accessRules.canSee('resolvedDate')">
                <label>Фактически выполнено:</label>
                <sd-datetime
                        class="input-group e-prop__value"
                        target="ctrl.change.resolvedDate"
                        allow-empty="false"
                        editing="ctrl.editing"
                        disabled="!ctrl.accessRules.canUpdate('resolvedDate')"
                ></sd-datetime>
            </div>

            <div class="form-group e-prop e-prop-required" ng-if="ctrl.accessRules.canSee('category')">
                <label>Категория:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.change.category"
                             fetch-data="ctrl.loadCategories($text)"
                             display-value="$value.name"
                             cache="true"
                             editing="ctrl.editing"
                             disabled="!ctrl.accessRules.canUpdate('category')"
                ></sd-dropdown>
            </div>

            <div class="form-group e-prop e-prop-required" ng-if="ctrl.accessRules.canSee('classification')">
                <label>Классификация:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.change.classification"
                             fetch-data="ctrl.loadClassifications($text)"
                             display-value="$value.name"
                             cache="true"
                             editing="ctrl.editing"
                             disabled="!ctrl.accessRules.canUpdate('classification')"
                ></sd-dropdown>
            </div>

            <div class="form-group e-prop" ng-if="ctrl.accessRules.canSee('configurationItem')">
                <label>Объект обслуживания:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.change.configurationItem"
                             fetch-data="ctrl.loadConfigurationItems($text)"
                             display-value="$value.searchCode"
                             editing="ctrl.editing"
                             allow-empty="true"
                             disabled="!ctrl.accessRules.canUpdate('configurationItem')"
                ></sd-dropdown>
            </div>

            <div class="form-group e-prop" ng-if="ctrl.accessRules.canSee('closureCode')">
                <label>Код завершения:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.change.closureCode"
                             fetch-data="ctrl.loadClosureCode($text)"
                             display-value="$value.name"
                             editing="ctrl.editing"
                             allow-empty="true"
                             cache="true"
                             disabled="!ctrl.accessRules.canUpdate('closureCode')"
                ></sd-dropdown>
            </div>

        </form>
    </div>

    <div class="entity-container__content">
        <form class="form-inline entity-properties">

            <div class="form-group e-prop" ng-if="ctrl.accessRules.canSee('planStart')">
                <label>План. Начала:</label>
                <sd-datetime
                        class="input-group e-prop__value"
                        target="ctrl.change.planStart"
                        allow-empty="true"
                        editing="ctrl.editing"
                        disabled="!ctrl.accessRules.canUpdate('planStart')"
                        allow-empty="true"
                ></sd-datetime>
            </div>

            <div class="form-group e-prop" ng-if="ctrl.accessRules.canSee('planFinish')">
                <label>План. Окончание:</label>
                <sd-datetime
                        class="input-group e-prop__value"
                        target="ctrl.change.planFinish"
                        allow-empty="true"
                        editing="ctrl.editing"
                        disabled="!ctrl.accessRules.canUpdate('planFinish')"
                        allow-empty="true"
                ></sd-datetime>
            </div>

            <!-- Необходимо отображение кол.часов кол.мин-->
            <div class="form-group e-prop" ng-if="ctrl.accessRules.canSee('planDuration')">
                <label>План. Продолжительность:</label>
                <sd-number
                        class="input-group e-prop__value"
                        target="ctrl.change.planDuration.getHours()"
                        allow-empty="true"
                        editing="ctrl.editing"
                        disabled="!ctrl.accessRules.canUpdate('planDuration')"
                        allow-empty="true"
                ></sd-number>
            </div>

            <div class="form-group e-prop" ng-if="ctrl.accessRules.canSee('actualStart')">
                <label>Реально начато:</label>
                <sd-datetime
                        class="input-group e-prop__value"
                        target="ctrl.change.actualStart"
                        allow-empty="false"
                        editing="ctrl.editing"
                        disabled="!ctrl.accessRules.canUpdate('actualStart')"
                ></sd-datetime>
            </div>

            <div class="form-group e-prop" ng-if="ctrl.accessRules.canSee('closureDate')">
                <label>Дата закрытия:</label>
                <sd-datetime
                        class="input-group e-prop__value"
                        target="ctrl.change.closureDate"
                        allow-empty="false"
                        editing="ctrl.editing"
                        disabled="!ctrl.accessRules.canUpdate('closureDate')"
                ></sd-datetime>
            </div>
        </form>
    </div>
</div>

<sd-entity-chat entity="ctrl.change" type-map="ctrl.msgTypes">

</sd-entity-chat>

<!--
<button class="btn btn-default" ng-click="ctrl.createTestChange();">Создать тестовое изменение</button>-->
