<div class="modal-content modal-600">
    <div class="modal-header dialog-header-input-message ">
        <button type="button" class="close" data-ng-click="ctrl.close()" title="{{'DIALOGS_CLOSE' | translate}}">&times;</button>
        <span class="modal-title" data-ng-bind-html="'password.change.title' | translate"/>
    </div>
    <div class="modal-body">
        <form name="passwordChangeForm" novalidate role="form" action="ctrl.save()">
            <div class="form-group">
                <label for="oldPassword">{{'password.change.old' | translate}}</label>
                <input type="password" class="form-control" name="oldPassword" autofocus="autofocus"
                       placeholder="{{'password.change.old.p' | translate}}"
                       data-ng-model="ctrl.oldPassword" required>
                <data-ng-messages for="passwordChangeForm.oldPassword.$error"
                                  data-ng-show="passwordChangeForm.$submitted || passwordChangeForm.oldPassword.$touched"
                                  class="text-danger" role="alert">
                    <div data-ng-messages-include="template.ngMessage.errorMessages"/>
                </data-ng-messages>
            </div>
            <div class="form-group">
                <label for="newPassword">{{'password.change.new' | translate}}</label>
                <input type="password" class="form-control" name="newPassword"
                       placeholder="{{'password.change.new.p' | translate}}"
                       data-ng-model="ctrl.newPassword" required
                       data-ng-maxlength="ctrl.maxLength" data-ng-minlength="ctrl.minLength"
                       data-different-from="ctrl.oldPassword">
                <data-ng-messages for="passwordChangeForm.newPassword.$error"
                                  data-ng-show="passwordChangeForm.$submitted || passwordChangeForm.newPassword.$touched"
                                  class="text-danger" role="alert">
                    <div data-ng-messages-include="template.ngMessage.errorMessages"/>
                </data-ng-messages>
            </div>
            <div class="form-group">
                <label for="confirmPassword">{{'password.change.confirm' | translate}}</label>
                <input type="password" class="form-control" name="confirmPassword"
                       placeholder="{{'password.change.confirm.p' | translate}}"
                       data-ng-model="ctrl.confirmPassword" required
                       data-ng-maxlength="ctrl.maxLength" data-ng-minlength="ctrl.minLength"
                       data-equals-to="ctrl.newPassword">
                <data-ng-messages for="passwordChangeForm.confirmPassword.$error"
                                  data-ng-show="passwordChangeForm.$submitted || passwordChangeForm.confirmPassword.$touched"
                                  class="text-danger" role="alert">
                    <div data-ng-messages-include="template.ngMessage.errorMessages"/>
                </data-ng-messages>
            </div>
            <div class="form-group">
                <label class="text-danger" data-ng-show="ctrl.loginFailed"
                       data-ng-bind-html="'password.change.invalid.old.password' | translate"></label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" data-ng-click="ctrl.save()"
                data-ng-disabled="passwordChangeForm.$invalid">{{'DIALOGS_OK' | translate}}</button>
        <button type="button" class="btn btn-default" data-ng-click="ctrl.close()">{{'DIALOGS_CLOSE' | translate}}</button>
    </div>
</div>