<div class="attachment-item">
    <div class="attachment-item__box">
        <img src="https://cs.pikabu.ru/images/big_size_comm/2012-10_4/13"
             data-ng-if="ctrl.attachment.fileType == 'image'">
        <span class="fa fa-file-word-o attachment-item__box__icon"
              data-ng-if="ctrl.attachment.fileType != 'image'"
              data-ng-class="ctrl.iconClass"
        ></span>
    </div>
    <div class="attachment-item__name">
        <a data-ng-href="{{ctrl.attachment.downloadUrl}}">
            <span ng-bind="ctrl.attachment.name"></span>
        </a>
    </div>
    <div class="attachment-item__info">
        <span class="attachment-item__info__size">
            <span>{{ctrl.fileSize}}</span>
        </span>
        <span class="attachment-item__info__date">
            <span>{{(ctrl.attachment.creationDate | amDateFormat:'DD.MM.YYYY (HH:mm)')}}</span>
        </span>
    </div>
    <div class="attachment-item__author">
        <span class="attachment-item__author__text" ng-bind="ctrl.attachment.author.shortName"></span>
    </div>

</div>