<!-- todo почистить css-стили -->
<div id="changes" class="grid-page">
    <!-- Основная панель-->
    <div class="grid-page__content" style="width: 100%; height: 50px;">
        <div class="col-md-12">
            <h1>Изменения</h1>
        </div>
    </div>
    <!-- Панель фильтрации -->
    <nav class="grid-page__content narrow-panel navbar navbar-absolute navbar-default">
        <div class="container-fluid">
            <!-- Название страницы и кнопка для адаптации под мобильные экраны -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle overlay-collapse collapsed" data-toggle="collapse"
                        data-target="#changes-filter-nav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" data-ui-sref="app.changes">Фильтр</a>
            </div>
            <!-- Список действий, которые будут скрываться в кнопке -->
            <div class="collapse overlay-collapse navbar-collapse" id="changes-filter-nav">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle"
                           data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ctrl.currentFilter.name}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li data-ng-repeat="$filter in ctrl.filters track by $index"
                                data-ng-class="{'dropdown-submenu':$filter.hasChilds, 'divider':$filter.divider, 'dropdown-header':$filter.header}">
                                <a data-ng-if="$filter.name && $filter.clickable" href="javascript:void(0)" data-ng-click="ctrl.applyFilter($filter)">
                                    {{$filter.name}}
                                </a>

                                <a data-ng-if="$filter.name && !$filter.clickable" data-ng-click="$event.stopPropagation()">
                                    {{$filter.name}}
                                </a>
                                <ul data-ng-if="!$filter.divider && $filter.hasChilds" class="dropdown-menu">
                                    <li data-ng-repeat="$subFilter in $filter.childs track by $index" class="{'divider':$subFilter.divider, 'dropdown-header':$subFilter.header}">
                                        <a data-ng-if="$subFilter.name" href="javascript:void(0)" data-ng-click="ctrl.applyFilter($subFilter)">
                                            {{$subFilter.name}}
                                        </a>
                                        <span data-ng-if="$subFilter.header">{{$subFilter.header}}</span>
                                    </li>
                                </ul>

                                <span data-ng-if="$filter.header">{{$filter.header}}</span>
                            </li>
                            <!--<li>-->
                                <!--<a href="javascript:void(0)" data-ng-click="ctrl.applyFilter('executor')">-->
                                    <!--Назначенные мне-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li class="dropdown-submenu">-->
                                <!--<a data-ng-click="$event.stopPropagation()">Назначенные группе</a>-->
                                <!--<ul class="dropdown-menu">-->
                                    <!--<li data-ng-repeat="$group in [{name:'Группа 1',id:3},{name:'Группа 2',id:4}] track by $group.id">-->
                                        <!--<a href="javascript:void(0)">{{$group.name}}</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</li>-->
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li class="dropdown-header">Моя роль:</li>-->
                            <!--<li><a href="javascript:void(0)">Инициатор</a></li>-->
                            <!--<li><a href="javascript:void(0)">Менеджер</a></li>-->
                            <!--<li><a href="javascript:void(0)">Согласующий</a></li>-->
                        </ul>
                    </li>
                </ul>
                <form name="search" class="navbar-form" role="search"
                      ng-submit="ctrl.searchSubmit(search.text)" style="margin-bottom: 0">
                    <div class="form-group input-group">
                        <input ng-model="search.text" type="text" class="form-control"
                               placeholder="Введите строку поиска">
                        <div class="input-group-btn">
                            <a type="submit" class="btn btn-default">Найти</a>
                        </div>
                    </div>
                </form>
            </div>
        </div> <!-- /.container-fluid -->
    </nav>
    <!-- Панель кнопок -->

    <nav class="grid-page__content narrow-panel navbar navbar-absolute navbar-default">
        <!-- Название страницы и кнопка для адаптации под мобильные экраны -->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle overlay-collapse collapsed" data-toggle="collapse"-->
                    <!--data-target="#changes-actions-nav" aria-expanded="false">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--Действия-->
            <!--</button>-->
        <!--</div>-->
        <!-- Список действий, которые будут скрываться в кнопке -->
        <div style="padding-left: 15px">
            <a class="btn btn-default navbar-btn"
               data-ng-disabled="ctrl.grid.getSelectedRows().length != 1"
               data-ng-click="ctrl.clickOpen()">
                <span class="fa fa-external-link"></span>
                Открыть
            </a>

            <a class="btn btn-default navbar-btn">
                <span class="fa fa-plus"></span>
                Новое
            </a>
        </div>
    </nav>

    <!-- Таблица -->
    <div id="changes-grid" class="grid-container">
        <div data-ui-grid="ctrl.grid" class="grid"
             data-ui-grid-selection
             data-ui-grid-resize-columns
             data-ui-grid-pagination
             data-ui-grid-exporter
             data-ui-grid-autoResize
             data-ui-grid-save-state>
        </div>
    </div>
</div>