<div class="btn-toolbar" style="margin: 10px">
    <div class="btn-toolbar">
        <button data-ng-click="ctrl.errorClick()" class="btn btn-default">Диалог "Ошибка"</button>
        <button data-ng-click="ctrl.logSC()" class="btn btn-default">Логнуть заявку</button>
    </div>

    <div class="entity-content">
        Изменение: <sd-select target="ctrl.servicecall.change"
                              resolve-data="ctrl.SD.Change.list()"
                              empty-value="не выбрано"
                              on-commit="ctrl.log()"
                              enabled="true"
                              allow-empty="true"
                              display-value="'Изменение №'+$value"
                    />
        <br>
        Изменение:
        <a href="javascript:void(0)"
           editable-select="ctrl.servicecall.change"
           onshow="ctrl.loadChanges()"
           e-ng-options="ch as ch.subject for ch in ctrl.changes">
            {{ ctrl.servicecall.change || 'Не выбрано' }}
        </a>
    </div>
</div>