<div class="btn-toolbar" style="margin: 10px">
    <div class="btn-toolbar">
        <button data-ng-click="ctrl.errorClick()" class="btn btn-default">Диалог "Ошибка"</button>
        <button data-ng-click="ctrl.logSC()" class="btn btn-default">Логнуть заявку</button>
    </div>

    <div class="entity-content">
        <div class="col-md-6">
            <div class="property">
                <div class="property__name">Тема:</div>
                <div class="property__value">
                    <sd-text target="ctrl.servicecall.subject" max-length="13"/>
                </div>
            </div>
        </div>
    </div>
</div>