@import "./font-awesome/font-awesome";

.sd-fa-icon(@var) {
  .fa;
  &::before {
    content: @var;
  }
}

// Иконки для приоритетов
.sd-icon_priority-10 {
  .sd-fa-icon(@fa-var-arrow-down);
  color: #99a0a3;
}

.sd-icon_priority-20 {
  .sd-fa-icon(@fa-var-chevron-down);
  color: #66b0e8;
}

.sd-icon_priority-30 {
  .sd-fa-icon(@fa-var-chevron-up);
  color: #00a000;
}

.sd-icon_priority-40 {
  .sd-fa-icon(@fa-var-arrow-up);
  color: #ff8000;
}

.sd-icon_priority-50 {
  .sd-fa-icon(@fa-var-exclamation);
  color: #ff3328;
}
