<div class="modal-content modal-400">
    <div class="modal-header dialog-header-confirm">
        <button type="button" class="close" data-ng-click="ctrl.click(null)" title="{{'DIALOGS_CLOSE' | translate}}">&times;</button>
        <i class="fa fa-question-circle-o fa-lg"></i>
        <span class="modal-title" ng-bind="ctrl.title"></span>
    </div>
    <div class="modal-body">
        <span data-ng-bind="ctrl.text"></span>
    </div>
    <div class="modal-footer">
        <button type="button"
                data-ng-repeat="$info in ctrl.actionInfos track by $info.name"
                data-ng-class="ctrl.getButtonClasses($info)"
                data-ng-click="ctrl.click($index)"
        >
            <span ng-bind="$info.name"></span>
        </button>
    </div>
</div>