<div sd-loading="ctrl.fetchPromise" ng-if="ctrl.accessRules.isReadHistoryAllowed" style="height: 99%">
    <content class="grid-page">
        <div class="entity-container grid-page__grid-container" style="font-size: 12px" >
            <div class="entity-container__content" style="padding: 0; min-width: 100%; height: 100%">
                <div data-ui-grid="ctrl.grid" style="height: 100%"
                     data-ui-grid-resize-columns
                     data-ui-grid-pagination
                     data-ui-grid-autoResize
                ></div>
            </div>
        </div>
    </content>
</div>

<sd-entity-error ng-if="!ctrl.accessRules.isReadHistoryAllowed">
    <header class="head entity-error__header__text">
        <span class="glyphicon glyphicon-ban-circle"></span>
        Ошибка доступа
    </header>
    <message class="body entity-error__body__text">
        У вас нет прав на просмотр истории.
    </message>
</sd-entity-error>