<div class="btn-group">
    <button class="btn">New</button>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        <ui-select ng-model="ctrl.selectedValue"
                on-select="ctrl.onSelect($item,$model)"
                search-enabled="true"
        >
            <ui-select-match placeholder="{{ctrl.placeholder}}">
                {{ctrl.display($select.selected)}}
            </ui-select-match>
            <ui-select-choices repeat="$value in ctrl.getFilteredValues($select.search) track by $index"
                               refresh="ctrl.fetchFromUI($select.search)"
                               refresh-delay="ctrl.debounceTime"
            >
                <span ng-bind-html="ctrl.display($value) | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
    </div>
</div>