<div class="attachment-item uploading-file">
    <div class="uploading-file__icon-box">
        <a href="javascript:void(0)" data-ng-click="ctrl.abort()"
           class="uploading-file__icon-box__icon"
           data-ng-if="ctrl.error || ctrl.pending"
           data-ng-class="{error: ctrl.error}"
        >
            <span class="fa fa-times" data-ng-if="ctrl.pending" title="Отменить загрузку"></span>
            <span class="fa fa-exclamation-triangle" data-ng-if="ctrl.error" title="Закрыть"></span>
        </a>
        <span class="uploading-file__icon-box__icon fa fa-check" data-ng-if="ctrl.success" data-ng-class="{success: ctrl.success}"></span>
    </div>
    <div class="uploading-file__loading">
        <span>Загрузка</span>
    </div>
    <div class="attachment-item__name" style="text-align: center">
        <span ng-bind="ctrl.fileName"></span>
    </div>
    <uib-progressbar class="progress-striped" ng-class="{active: ctrl.pending || ctrl.success}"
                     value="ctrl.progressBarValue" type="{{ctrl.progressBarType}}" style="background: #d4d4d4; margin-top: 5px;">
        {{ctrl.progressBarText}}
    </uib-progressbar>
</div>

<!--<div class="attachment-item uploading-file" data-ng-if="ctrl.status == 'error'">-->
    <!--<div class="uploading-file__icon-box">-->
        <!--<a href="javascript:void(0)" ng-click="ctrl.abort()" title="Закрыть">-->
            <!--<span class="uploading-file__icon-box__icon error fa fa-exclamation-triangle"></span>-->
        <!--</a>-->
    <!--</div>-->
    <!--<div class="uploading-file__loading">-->
        <!--<span>Загрузка</span>-->
    <!--</div>-->
    <!--<div class="attachment-item__name" style="text-align: center">-->
        <!--<span ng-bind="ctrl.fileName"></span>-->
    <!--</div>-->
    <!--<uib-progressbar class="progress-striped" value="100" type="danger" style="margin-top: 5px">-->
        <!--Возникла ошибка-->
    <!--</uib-progressbar>-->
<!--</div>-->

<!--<div class="attachment-item uploading-file" data-ng-if="ctrl.status == 'success'">-->
    <!--<div class="uploading-file__icon-box">-->
        <!--<span class="uploading-file__icon-box__icon error fa fa-check"></span>-->
    <!--</div>-->
    <!--<div class="uploading-file__loading">-->
        <!--<span>Загрузка</span>-->
    <!--</div>-->
    <!--<div class="attachment-item__name" style="text-align: center">-->
        <!--<span ng-bind="ctrl.fileName"></span>-->
    <!--</div>-->
    <!--<uib-progressbar class="progress-striped" value="100" type="danger" style="margin-top: 5px">-->
        <!--Подождите...-->
    <!--</uib-progressbar>-->
<!--</div>-->