<div class="entity-container" style="min-height: 100%; font-size: 12px" ng-if="ctrl.change.accessRules.isReadAttachmentsAllowed">
    <div class="entity-container__content">
        <sd-attachments sd="ctrl.SD" target="ctrl.change"></sd-attachments>
    </div>
</div>

<sd-entity-error ng-if="!ctrl.change.accessRules.isReadAttachmentsAllowed">
    <header class="head entity-error__header__text">
        <span class="glyphicon glyphicon-ban-circle"></span>
        Ошибка доступа
    </header>
    <message class="body entity-error__body__text">
        У вас нет прав на просмотр вложений.
    </message>
</sd-entity-error>