<div class="modal-content modal-600 dialog-server-error">
    <div class="modal-header dialog-header-error">
        <button type="button" class="close" data-ng-click="ctrl.close()" title="{{'DIALOGS_CLOSE' | translate}}">&times;</button>
        <i class="fa fa-exclamation-triangle fa-lg"></i>
        <span class="modal-title">
            Возникла ошибка
        </span>
    </div>
    <div class="modal-body">
        <span ng-bind-html="ctrl.errorBody"></span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="ctrl.close()">Ок</button>
    </div>
</div>