<div *ngIf="editing" class="sd-textarea">
  <div class="input-group sd-textarea__input-container" style="width: 100%">
      <textarea type="text"
                style="resize: none;"
                class="form-control"
                [(ngModel)]="value"
                placeholder="{{placeholder || '- нет -'}}"
                [maxlength]="maxlength"
                [minlength]="minlength"
                [required]="required"
                auto-height="editing"
                [disabled]="disabled">
      </textarea>
      <span class="validation-error" *ngIf="hasError">{{errorMessage}}</span>
  </div>
</div>

<!--Режим просмотра-->
<div *ngIf="!editing" class="sd-textarea-view">
  <span>{{displayValue}}</span>
</div>
