<div class="btn-group" role="group" aria-label="Button group">
    <button class="btn btn-outline-primary" (click)="openAlert()">Alert Modal</button>
    <button class="btn btn-outline-primary" (click)="openConfirm(true)">Confirm Modal<br>(req = true)</button>
    <button class="btn btn-outline-primary" (click)="openConfirm()">Confirm Modal<br>(req = undefined)</button>
    <button class="btn btn-outline-primary" (click)="openImagePopup()">ImagePopup Modal<br>3-img</button>
    <button class="btn btn-outline-primary" (click)="openImagePopup(true)">ImagePopup Modal<br>1-img</button>
    <button class="btn btn-outline-primary" (click)="openImagePopupEmpty()">ImagePopup Modal<br>Empty</button>
    <button class="btn btn-outline-primary" (click)="openText()">Text Modal</button>
</div>