<div sd-loading="ctrl.fetchPromise" ng-if="ctrl.accessRules.isReadHistoryAllowed">
    <content style="display: block; height: 563px" >
        <div class="entity-container" style="font-size: 12px" >
            <div class="entity-container__content" style="padding: 0; min-width: 100%">
                <div style="height: 720px; padding-top: 0">
                    <div data-ui-grid="ctrl.grid" class="grid"
                        data-ui-grid-resize-columns
                        data-ui-grid-pagination
                        data-ui-grid-autoResize
                    ></div>
                </div>
            </div>
        </div>
    </content>
</div>

<sd-entity-error ng-if="!ctrl.accessRules.isReadHistoryAllowed">
    <header class="head entity-error__header__text">
        <span class="glyphicon glyphicon-ban-circle"></span>
        Ошибка доступа
    </header>
    <message class="body entity-error__body__text">
        У вас нет прав на просмотр истории.
    </message>
</sd-entity-error>