<div class="container well well-sm entity-container" data-ng-show="ctrl.change && !ctrl.loading">

    <!--Хидер, содержит номер изменения и кнопки для основных действий-->
    <div class="entity-header entity-content">
        <div>
            <div class="entity-header__actions">

                <!--Кнопка Редактировать-->
                <a class="entity-header-action"
                   href="javascript:void(0)"
                   title="Редактировать"
                   data-ng-click="ctrl.edit()"
                >
                    <span class="entity-header-action__icon glyphicon glyphicon-pencil"></span>
                    <span class="entity-header-action__text">Редактировать</span>
                </a>
                <span>| </span>

                <!--Кнопка История-->
                <a class="entity-header-action" href="javascript:void(0)" title="История">
                    <span class="entity-header-action__icon glyphicon glyphicon-list-alt"></span>
                    <span class="entity-header-action__text">История</span>
                </a>
                <span>| </span>

                <!--Кнопка В список-->
                <a class="entity-header-action" data-ui-sref="app.changes" href="javascript:void(0)" title="Вернуться к списку">
                    <span class="entity-header-action__icon glyphicon glyphicon-log-out"></span>
                    <span class="entity-header-action__text">Назад</span>
                </a>

            </div>
            <div class="entity-header__title">
                <span>Изменение №{{ctrl.change.no}}:</span>
            </div>
        </div>

        <div>
            <div class="entity-header__name" style="max-width: 715px">
                {{ctrl.change.subject || ctrl.emptyValue}}
            </div>
        </div>
    </div>
    <hr class="entity-content-separator" >

    <!--Кнопки в верхнем меню-->
    <div class="entity-tools container-fluid row">
        <!--Кнопки для управления статусом сущности-->
        <div class="col-md-6 entity-col">
            <button class="btn btn-info" data-ng-disabled="ctrl.editMode" data-ng-click="window.alert('Наряд создан')">Взять в работу</button>
            <button class="btn btn-info" data-ng-disabled="ctrl.editMode" data-ng-click="window.alert('Наряд создан')">Вернуть в ДС</button>
        </div>
        <!--Статус бар-->
        <div class="col-md-6 entity-col" style="text-align: right">
            <div style="margin-bottom: 5px; margin-top: 5px;">
                <div class="progress-bar progress-bar-striped" style="width: 20%; background-color: #404040">Зарегистрировано</div>
                <div class="progress-bar progress-bar-striped" style="width: 20%; background-color: #404040">Направлено</div>
                <div class="progress-bar progress-bar-striped" style="width: 20%; background-color: #2a6496">В работе инженер</div>
                <div class="progress-bar progress-bar-striped" style="width: 20%; background-color: #c8c8c8;">Отработано</div>
                <div class="progress-bar progress-bar-striped" style="width: 20%; background-color: #c8c8c8;">Закрыто</div>
            </div>
        </div>
    </div>

    <hr class="entity-content-separator">
    <div style="max-width: 715px">
        <div style="font-weight: bold;">Подробная информация: </div>
        <sd-textarea target="ctrl.change.description"
                     rows="8"
                     enabled="ctrl.editMode"
        ></sd-textarea>
    </div>

    <hr class="entity-content-separator">
    <div class="entity-content">
        <div class="col-md-6 entity-col">

            <div class="entity-property">
                <div class="entity-property__name">
                    <span>Инициатор:</span>
                </div>
                <div class="entity-property__value">
                    <sd-dropdown
                            target="ctrl.change.initiator"
                            fetch-data="ctrl.SD.Person.list()"
                            placeholder="Введите имя персоны"
                            display-value="$value.fullName"
                            enabled="ctrl.editMode"
                    ></sd-dropdown>
                </div>
            </div>

        </div>
        <div class="col-md-6 entity-col">

            <div class="entity-property">
                <div class="entity-property__name">
                    <span>Менеджер:</span>
                </div>
                <div class="entity-property__value">
                    <sd-dropdown
                            target="ctrl.change.manager"
                            fetch-data="ctrl.SD.Person.list()"
                            placeholder="Введите имя персоны"
                            display-value="$value.fullName"
                            enabled="ctrl.editMode"
                            allow-empty="true"
                    ></sd-dropdown>
                </div>
            </div>

        </div>
    </div>

    <hr class="entity-content-separator">
    <div class="entity-content">
        <div class="col-md-6 entity-col">

            <div class="entity-property">
                <div class="entity-property__name">
                    <span>Дата создания:</span>
                </div>
                <div class="entity-property__value">
                    <sd-datetime
                            target="ctrl.change.createdDate"
                            allow-empty="false"
                            enabled="ctrl.editMode"
                    ></sd-datetime>
                </div>
            </div>

            <div class="entity-property">
                <div class="entity-property__name">
                    <span>Крайний срок:</span>
                </div>
                <div class="entity-property__value">
                    <sd-datetime
                            target="ctrl.change.deadline"
                            allow-empty="false"
                            enabled="ctrl.editMode"
                    ></sd-datetime>
                </div>
            </div>

            <div class="entity-property">
                <div class="entity-property__name">
                    <span>Фактически выполнено:</span>
                </div>
                <div class="entity-property__value">
                    <sd-datetime
                            target="ctrl.change.resolvedDate"
                            allow-empty="false"
                            enabled="ctrl.editMode"
                    ></sd-datetime>
                </div>
            </div>

        </div>
        <div class="col-md-6 entity-col">

            <div class="entity-property">
                <div class="entity-property__name">
                    <span>Статус:</span>
                </div>
                <div class="entity-property__value">
                    <sd-dropdown
                            target="ctrl.change.status"
                            fetch-data="ctrl.SD.EntityStatus.list()"
                            placeholder="Введите имя персоны"
                            display-value="$value.fullName"
                            search-enabled="false"
                            cache="true"
                            enabled="ctrl.editMode"
                    ></sd-dropdown>
                </div>
            </div>

            <div class="entity-property">
                <div class="entity-property__name">
                    <span>Приоритет:</span>
                </div>
                <div class="entity-property__value">
                    <sd-dropdown
                            target="ctrl.change.priority"
                            fetch-data="ctrl.SD.EntityPriority.list()"
                            placeholder="Введите имя персоны"
                            display-value="$value.fullName"
                            search-enabled="false"
                            cache="true"
                            enabled="ctrl.editMode"
                    ></sd-dropdown>
                </div>
            </div>

        </div>
    </div>

    <hr class="entity-content-separator">

</div>

<div data-ng-show="ctrl.loading" style="padding-top: 200px; text-align: center">
    <div>Загрузка</div>
</div>

<div class="container" data-ng-if="ctrl.loadingError && !ctrl.loading" style="padding-top: 200px; text-align: center">
    <div class="panel panel-danger" data-ng-if="ctrl.loadingErrorIsNotFound">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-ban-circle"></span>
                Изменение не найдено
            </h3>
        </div>
        <div class="panel-body">
            Перейдите ко
            <a data-ui-sref="app.changes">списку изменений</a>,
            чтобы найти нужное изменение
        </div>
    </div>
    <div class="panel panel-danger" data-ng-if="ctrl.loadingErrorIsCustom">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-ban-circle"></span>
                Возникла непредвиденная ошибка
            </h3>
        </div>
        <div class="panel-body">
            <span data-ng-bind="ctrl.loadingError"></span>
        </div>
    </div>
</div>