<div data-ng-show="ctrl.editing" class="sd-textarea">
    <div class="input-group sd-textarea__input-container" style="width: 100%">
        <textarea type="text"
               style="resize: none;"
               class="form-control"
               ng-model="ctrl.value"
               placeholder="{{ctrl.placeholder}}"
               data-ng-maxlength="ctrl.maxlength"
               data-ng-minlength="ctrl.minlength"
               ng-required="ctrl.required"
               auto-height="ctrl.editing"
        ></textarea>
    </div>
</div>

<!--Режим просмотра-->
<div ng-hide="ctrl.editing" class="sd-textarea-view"><span ng-bind="ctrl.displayValue"></span></div>