<div data-ng-show="ctrl.isEnabled">
    <div class="input-group" style="width: 100%">
        <textarea type="text"
               style="resize: none;"
               class="form-control"
               ng-model="ctrl.target"
               placeholder="{{ctrl.placeholder}}"
               data-ng-maxlength="ctrl.maxlength"
               data-ng-minlength="ctrl.minlength"
               ng-required="ctrl.required"
               rows="{{ctrl.rows}}"
        ></textarea>
    </div>
</div>

<!--Режим просмотра-->
<div ng-hide="ctrl.isEnabled">
    <span ng-bind="ctrl.value"></span>
</div>