<div class="modal-content modal-400">
    <div class="modal-header dialog-header-input-message">
        <button type="button" class="close" data-ng-click="ctrl.cancel()" title="{{'DIALOGS_CLOSE' | translate}}">&times;</button>
        <i class="fa fa-pencil-square-o"></i>
        <span class="modal-title">
            Голосование
        </span>
    </div>
    <div class="modal-body">
        <div style="padding-bottom: 10px">
            <span>Причина:</span>
        </div>
        <div style="width: 100%">
            <sd-textarea target="ctrl.vote.reason"
                         editing="true"
                         placeholder="Укажите причину"
            >
            </sd-textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" data-ng-click="ctrl.voteYes()">Проголосовать "за"</button>
        <button type="button" class="btn btn-danger" data-ng-click="ctrl.voteNo()">Проголосовать "против"</button>
    </div>
</div>