<div class="modal-header dialog-header-confirm">
    <button type="button" class="close" data-ng-click="close()" title="{{'DIALOGS_CLOSE' | translate}}">&times;</button>
    <span class="modal-title" data-ng-bind-html="header"/>
</div>
<div class="modal-body" data-ng-bind-html="msg"/>
<div class="modal-footer">
    <button type="button" class="btn btn-success" data-ng-click="yes()">{{labelYes}}</button>
    <button type="button" class="btn btn-default" ng-click="no()">{{labelNo}}</button>
    <button type="button" class="btn btn-default" ng-click="close()">{{labelClose}}</button>
</div>
