<div sd-loading="ctrl.fetchPromise">

    <content style="display: block; height: 563px" >
        <nav class="grid-page__content narrow-panel navbar navbar-absolute navbar-default">
            <div style="padding-left: 15px">
                <a class="btn btn-default navbar-btn"
                   data-ng-disabled="ctrl.isButtonOpenDisabled"
                   data-ng-click="ctrl.clickOpen()">
                    <span class="fa fa-external-link"></span>
                    Открыть
                </a>
                <a class="btn btn-default navbar-btn"
                   data-ng-click="ctrl.clickAttach()">
                    <span class="fa fa-paperclip"></span>
                    Прикрепить наряд
                </a>
                <a class="btn btn-default navbar-btn" ng-click="ctrl.clickCreateWorkorder()">
                    <span class="fa fa-plus"></span>
                    Создать наряд
                </a>
            </div>
        </nav>
        <div class="entity-container" style="font-size: 12px" >
            <div class="entity-container__content" style="padding: 0; min-width: 100%">
                <div style="height: 1440px; padding-top: 0">
                    <div data-ui-grid="ctrl.grid" class="grid"
                         data-ui-grid-selection
                         data-ui-grid-resize-columns
                         data-ui-grid-pagination
                         data-ui-grid-exporter
                         data-ui-grid-autoResize
                         data-ui-grid-save-state
                    ></div>
                </div>
            </div>
        </div>
    </content>

</div>