<div class="modal-content">
    <div class="modal-header dialog-header-input-message ">
        <button type="button" class="close" data-ng-click="ctrl.close()" title="{{'DIALOGS_CLOSE' | translate}}">&times;</button>
        <span class="modal-title" data-ng-bind-html="ctrl.header"/>
    </div>
    <div class="modal-body">
        <form name="inputMessageForm" novalidate role="form">
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       placeholder="{{ctrl.placeholder}}"
                       data-ng-model="ctrl.inputMessage"
                       name="inputMessage"
                       data-ng-keyup="ctrl.hitEnter($event)"
                       required
                       data-ng-maxlength="ctrl.maxLength"
                       data-ng-minlength="ctrl.minLength">
                <data-ng-messages data-ng-show="ctrl.inputError && (inputMessageForm.$submitted || inputMessageForm.inputMessage.$touched)" class="text-danger" for="inputMessageForm.inputMessage.$error"
                                  role="alert">
                    <data-ng-messages-include src="template.ngMessage.errorMessages"/>
                </data-ng-messages>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" data-ng-click="ctrl.complete()" data-ng-disabled="ctrl.inputError">{{ctrl.labelOk}}</button>
        <button type="button" class="btn btn-default" data-ng-click="ctrl.close()">{{ctrl.labelClose}}</button>
    </div>
</div>