<nav id="app-header" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img alt="logo" src="img/logo.png">
            </a>
        </div>
        <!--<ul class="nav navbar-nav navbar-right">
            <li class="build-info">
                <div>{{'header.build.version' | translate}}:{{'Implementation-Version' | translate}}</div>
                <div>{{'header.build.revision' | translate}}:{{'Git-Revision' | translate}}</div>
                <div>{{'header.build.build.date' | translate}}:{{'Build-Date' | translate}}</div>
            </li>
        </ul>-->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Разделы <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-apple"></span> Объекты</a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-cloud"></span> Проблемы</a>
                        </li>
                        <li>
                            <a data-ui-sref="changes"><span class="glyphicon glyphicon-flash"></span> Изменения</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" data-ng-show="ctrl.authorized">
                <li class="dropdown">
                    <!-- todo добавить аватар пользователя -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">{{ctrl.user.name}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-user"></span> Параметры персоны</a>
                        </li>
                        <li>
                            <a href="#" data-ng-click="ctrl.passwordChange()"><span class="glyphicon glyphicon-cog"></span> Сменить пароль</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" data-ng-click="ctrl.logout()" style="cursor:pointer">
                            <span class="glyphicon glyphicon-log-out"></span> {{'header.logout' | translate}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" data-ng-hide="ctrl.authorized">
                <li>
                    <a href="javascript:void(0)" data-ng-click="ctrl.loginClick()">Войти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="app-content" class="state-app" data-ui-view></div>