<nav id="app-header" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" data-ui-sref="app.main">
                <img alt="logo" src="img/logo.png">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="main-menu">
            <ul class="nav navbar-nav" data-ng-if="ctrl.authorized">
                <li>
                    <a data-ui-sref="app.change.list">
                        <span class="glyphicon glyphicon-cloud"></span> Изменения
                    </a>
                </li>
                <li>
                    <a data-ui-sref="app.servicecall">
                        <span class="glyphicon glyphicon-list"></span> Заявки
                    </a>
                </li>
                <li>
                    <a data-ui-sref="app.workorder">
                        <span class="glyphicon glyphicon-th"></span> Наряды
                    </a>
                </li>
                <li>
                    <a data-ui-sref="app.person">
                        <span class="glyphicon glyphicon-user"></span> Персоны
                    </a>
                </li>
                <li>
                    <a data-ui-sref="app.configurationItem">
                        <span class="glyphicon glyphicon-wrench"></span> Объекты
                    </a>
                </li>
                <li>
                    <a data-ui-sref="app.question">
                        <span class="glyphicon glyphicon-question-sign"></span> База знаний
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" data-ng-show="ctrl.authorized">
                <li class="dropdown">
                    <!-- todo добавить аватар пользователя -->
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">{{ctrl.user.name}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a data-ui-sref="app.person({personId:ctrl.user.person.id})">
                                <span class="glyphicon glyphicon-user"></span> Параметры персоны
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-ng-click="ctrl.passwordChange()"><span class="glyphicon glyphicon-cog"></span> Сменить пароль</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:void(0)" data-ng-click="ctrl.logout()" style="cursor:pointer">
                            <span class="glyphicon glyphicon-log-out"></span> {{'header.logout' | translate}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" data-ng-hide="ctrl.authorized">
                <li>
                    <a href="javascript:void(0)" data-ng-click="ctrl.loginClick()"><span class="glyphicon glyphicon-user"></span> Войти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="app-content" class="state-app" data-ui-view></div>