<div sd-loading="ctrl.loadingPromise">

    <content>
        <div class="entity-container__content entity-container__header">
            <ul class="nav nav-pills">
                <li>
                    <a data-ui-sref="app.change.list"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                </li>
                <li data-ui-sref-active="active" data-ng-repeat="$item in ctrl.childStates">
                    <a data-ui-sref="app.change.card.{{$item.path}}" ng-bind="$item.name"></a>
                </li>
            </ul>
        </div>
        <ui-view></ui-view>
    </content>

    <error>
        <div class="container" style="padding-top: 200px; text-align: center">
            <div class="panel panel-danger" data-ng-if="ctrl.loadingErrorIsNotFound">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-ban-circle"></span>
                        Изменение не найдено
                    </h3>
                </div>
                <div class="panel-body">
                    Перейдите к
                    <a data-ui-sref="app.change.list">списку изменений</a>,
                    чтобы найти нужное изменение
                </div>
            </div>
            <div class="panel panel-danger" data-ng-if="ctrl.loadingErrorIsCustom">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-ban-circle"></span>
                        Возникла непредвиденная ошибка
                    </h3>
                </div>
                <div class="panel-body">
                    <span data-ng-bind="ctrl.loadingError"></span>
                </div>
            </div>
        </div>
    </error>

</div>