<div class="entity-container" data-ng-if="!ctrl.loading && !ctrl.loadingError">
    <!--Кнопки в верхнем меню-->
    <div class="entity-container__content">
        <!-- Кнопки для редактирования -->
        <div style="display: inline-block" data-ng-show="ctrl.accessRules.isUpdateEntityAllowed">
            <button class="btn btn-default"
                    ng-if="!ctrl.editing"
                    ng-click="ctrl.startEditing()">
                Редактировать
            </button>
            <button class="btn btn-success"
                    ng-if="ctrl.editing"
                    ng-disabled="!ctrl.checkUnsavedModifies()"
                    ng-click="ctrl.saveEditing()">
                Сохранить
            </button>
            <button class="btn btn-default"
                    ng-if="ctrl.editing"
                    ng-click="ctrl.cancelEditing()">
                Отмена
            </button>
        </div>
    </div>

    <div class="entity-container__content">
        <form class="form-inline">
            <div class="form-group entity-text" style="width: 100%; height: 42px" ng-if="ctrl.accessRules.canSee('subject')">
                <label>Тема:</label>
                <div class="entity-text__inline-field">
                    <sd-text target="ctrl.workorder.subject"
                             editing="ctrl.editing"
                             disabled="!ctrl.accessRules.canUpdate('subject')"
                    >
                    </sd-text>
                </div>
            </div>

            <div class="form-group entity-text" style="width: 100%;" ng-if="ctrl.accessRules.canSee('description')">
                <label>Подробная информация:</label>
                <div class="entity-text__multiline-field">
                    <sd-textarea target="ctrl.workorder.description"
                                 editing="ctrl.editing"
                                 disabled="!ctrl.accessRules.canUpdate('description')"
                    >
                    </sd-textarea>
                </div>
            </div>

            <div class="form-group entity-text" style="width: 100%;" ng-if="ctrl.accessRules.canSee('solution')">
                <label>Решение:</label>
                <div class="entity-text__multiline-field">
                    <sd-textarea target="ctrl.workorder.solution"
                                 editing="ctrl.editing"
                                 disabled="!ctrl.accessRules.canUpdate('solution')"
                    >
                    </sd-textarea>
                </div>
            </div>

        </form>
    </div>

    <div class="entity-container__content">
        <form class="form-inline entity-properties">

            <div class="form-group e-prop" ng-if="ctrl.accessRules.canSee('initiator')">
                <label>Инициатор:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.workorder.initiator"
                             fetch-data="ctrl.loadInititators($text)"
                             placeholder="Введите имя персоны"
                             display-value="$value.fullName"
                             editing="ctrl.editing"
                             disabled="!ctrl.accessRules.canUpdate('initiator')"
                ></sd-dropdown>
            </div>

            <div class="form-group e-prop" ng-if="ctrl.accessRules.canSee('assignment')">
                <label>Исполнитель:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.workorder.assignment.executor"
                             fetch-data="ctrl.loadExecutors($text)"
                             placeholder="Введите имя персоны"
                             display-value="$value.fullName"
                             editing="ctrl.editing"
                             allow-empty="true"
                             fetch-on-change="ctrl.workorder.assignment.workgroup"
                             disabled="!ctrl.accessRules.canUpdate('assignment')"
                ></sd-dropdown>
            </div>

            <div class="form-group e-prop" ng-if="ctrl.accessRules.canSee('assignment')">
                <label>Рабочая группа:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.workorder.assignment.workgroup"
                             fetch-data="ctrl.loadWorkgroups($text)"
                             placeholder="Введите название группы"
                             display-value="$value.name"
                             editing="ctrl.editing"
                             allow-empty="true"
                             fetch-on-change="ctrl.workorder.assignment.executor"
                             disabled="!ctrl.accessRules.canUpdate('assignment')"
                ></sd-dropdown>
            </div>
        </form>
    </div>

    <div class="entity-container__content">
        <form class="form-inline entity-properties">

            <div class="form-group e-prop" ng-if="ctrl.accessRules.canSee('createdDate')">
                <label>Дата создания:</label>
                <sd-datetime
                        class="input-group e-prop__value"
                        target="ctrl.workorder.createdDate"
                        allow-empty="false"
                        editing="ctrl.editing"
                        disabled="!ctrl.accessRules.canUpdate('createdDate')"
                ></sd-datetime>
            </div>

            <div class="form-group e-prop" ng-if="ctrl.accessRules.canSee('status')">
                <label>Статус:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.workorder.status"
                             fetch-data="ctrl.loadStatuses($text)"
                             display-value="$value.fullName"
                             editing="ctrl.editing"
                             cache="true"
                             disabled="!ctrl.accessRules.canUpdate('status')"
                             fetch-on-change="ctrl.workorder.status"
                ></sd-dropdown>
            </div>

            <div class="form-group e-prop" ng-if="ctrl.accessRules.canSee('deadline')">
                <label>Крайний срок:</label>
                <sd-datetime
                        class="input-group e-prop__value"
                        target="ctrl.workorder.deadline"
                        allow-empty="false"
                        editing="ctrl.editing"
                        disabled="!ctrl.accessRules.canUpdate('deadline')"
                ></sd-datetime>
            </div>

            <div class="form-group e-prop" ng-if="ctrl.accessRules.canSee('resolvedDate')">
                <label>Фактически выполнено:</label>
                <sd-datetime
                        class="input-group e-prop__value"
                        target="ctrl.workorder.resolvedDate"
                        allow-empty="false"
                        editing="ctrl.editing"
                        disabled="!ctrl.accessRules.canUpdate('resolvedDate')"
                ></sd-datetime>
            </div>

            <div class="form-group e-prop" ng-if="ctrl.accessRules.canSee('category')">
                <label>Категория:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.workorder.category"
                             fetch-data="ctrl.loadCategories($text)"
                             display-value="$value.name"
                             cache="true"
                             editing="ctrl.editing"
                             disabled="!ctrl.accessRules.canUpdate('category')"
                ></sd-dropdown>
            </div>

            <div class="form-group e-prop" ng-if="ctrl.accessRules.canSee('modifyDate')">
                <label>Дата изменения:</label>
                <sd-datetime
                        class="input-group e-prop__value"
                        target="ctrl.workorder.modifyDate"
                        allow-empty="false"
                        editing="ctrl.editing"
                        disabled="!ctrl.accessRules.canUpdate('modifyDate')"
                ></sd-datetime>
            </div>

            <div class="form-group e-prop" ng-if="ctrl.accessRules.canSee('closureCode')">
                <label>Код завершения:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.workorder.closureCode"
                             fetch-data="ctrl.loadClosureCode($text)"
                             display-value="$value.name"
                             editing="ctrl.editing"
                             cache="true"
                             allow-empty="true"
                             disabled="!ctrl.accessRules.canUpdate('closureCode')"
                ></sd-dropdown>
            </div>

            <div class="form-group e-prop" ng-if="ctrl.accessRules.canSee('folder')">
                <label>Папка:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.workorder.folder"
                             fetch-data="ctrl.loadFolders($text)"
                             display-value="$value.name"
                             editing="ctrl.editing"
                             disabled="!ctrl.accessRules.canUpdate('folder')"
                             allow-empty="true"
                             min-symbols-fetch="2"
                ></sd-dropdown>
            </div>

            <div class="form-group e-prop" ng-if="ctrl.accessRules.canSee('change')">
                <label>Изменение:</label>
                <sd-dropdown class="input-group e-prop__value"
                             target="ctrl.workorder.change"
                             fetch-data="ctrl.loadChanges($text)"
                             display-value="'№'+$value.no+': '+$value.subject"
                             allow-empty="true"
                             editing="ctrl.editing"
                             disabled="!ctrl.accessRules.canUpdate('change')"
                             min-symbols-fetch="1"
                             link="$value | sdPageLink"
                ></sd-dropdown>
            </div>

        </form>
    </div>

</div>

<sd-entity-chat entity="ctrl.workorder" type-map="ctrl.msgTypes">

</sd-entity-chat>
