<div class="entity-container" data-ng-if="!ctrl.loading && !ctrl.loadingError">

    <div class="entity-container__content entity-container__header">
        <a data-ui-sref="app.change.list" title="Вернуться к списку">Наряды</a>
        <span> \ </span>
        <span style="font-weight: bold">
                    №{{ctrl.workorder.no}}: {{ctrl.workorder.subject || ctrl.emptyValue}}
        </span>
    </div>

    <div class="entity-container__content">
        <sd-status-bar target="ctrl.workorder"
                    status-list="ctrl.statusList"
        ></sd-status-bar>
    </div>

    <!--Кнопки в верхнем меню-->
    <div class="entity-container__content">
        <a class="btn btn-default" data-ui-sref="app.workorder.card.edit">Редактировать</a>
        <a class="btn btn-default" data-ui-sref="app.workorder.card.history">История</a>
    </div>

    <div class="entity-container__content entity-properties">
        <div class="entity-property-col">
            <div class="entity-property-name">
                <span>Подробная информация:</span>
            </div>
            <div class="entity-property-value">
                <span ng-bind="ctrl.workorder.description || ctrl.emptyValue"></span>
            </div>
        </div>
        <div class="entity-property-col">
            <div class="entity-property-name">
                <span>Вложения:</span>
            </div>
            <div class="entity-property-value">
                - Нет -
            </div>
        </div>
    </div>

    <div class="entity-container__content entity-properties">
        <div class="entity-inline-property">
            <div class="entity-property-name">
                <span>Инициатор:</span>
            </div>
            <div class="entity-property-value">
                <span ng-bind="ctrl.workorder.initiator || ctrl.emptyValue"></span>
            </div>
        </div>

        <div class="entity-inline-property">
            <div class="entity-property-name">
                <span>Исполнитель:</span>
            </div>
            <div class="entity-property-value">
                <span ng-bind="ctrl.workorder.assigneePerson || ctrl.emptyValue"></span>
            </div>
        </div>
    </div>

    <div class="entity-container__content entity-properties">
        <div class="entity-inline-property">
            <div class="entity-property-name">
                <span>Дата создания:</span>
            </div>
            <div class="entity-property-value">
                <span>
                    {{(ctrl.workorder.createdDate | amDateFormat:'MM.DD.YYYY HH:mm:ss') || ctrl.emptyValue}}
                </span>
            </div>
        </div>

        <div class="entity-inline-property">
            <div class="entity-property-name">
                <span>Статус:</span>
            </div>
            <div class="entity-property-value">
                <span ng-bind="ctrl.workorder.status || ctrl.emptyValue"></span>
            </div>
        </div>

        <div class="entity-inline-property">
            <div class="entity-property-name">
                <span>Крайний срок:</span>
            </div>
            <div class="entity-property-value">
                <span>
                    {{(ctrl.workorder.deadline | amDateFormat:'MM.DD.YYYY HH:mm:ss') || ctrl.emptyValue}}
                </span>
            </div>
        </div>

        <div class="entity-inline-property">
            <div class="entity-property-name">
                <span>Приоритет:</span>
            </div>
            <div class="entity-property-value">
                <span ng-bind="ctrl.workorder.priority || ctrl.emptyValue"></span>
            </div>
        </div>

        <div class="entity-inline-property">
            <div class="entity-property-name">
                <span>Фатически выполнено:</span>
            </div>
            <div class="entity-property-value">
                <span>
                    {{(ctrl.workorder.resolvedDate | amDateFormat:'MM.DD.YYYY HH:mm:ss') || ctrl.emptyValue}}
                </span>
            </div>
        </div>

        <div class="entity-inline-property">
            <div class="entity-property-name">
                <span>Категория:</span>
            </div>
            <div class="entity-property-value">
                <span ng-bind="ctrl.workorder.category || ctrl.emptyValue"></span>
            </div>
        </div>

        <div class="entity-inline-property">
            <div class="entity-property-name">
                <span>Рабочая группа:</span>
            </div>
            <div class="entity-property-value">
                <span ng-bind="ctrl.workorder.workgroup || ctrl.emptyValue"></span>
            </div>
        </div>

        <div class="entity-inline-property">
            <div class="entity-property-name">
                <span>Код завершения:</span>
            </div>
            <div class="entity-property-value">
                <span ng-bind="ctrl.workorder.closureCode || ctrl.emptyValue"></span>
            </div>
        </div>

        <div class="entity-inline-property">
            <div class="entity-property-name">
                <span>Изменение:</span>
            </div>
            <div class="entity-property-value">
                <a data-ng-show="ctrl.workorder.change"
                   data-ui-sref="app.change.card.view({changeId:ctrl.workorder.change.id})">
                    №{{ctrl.workorder.change.no}}
                </a>
                <span ng-bind="ctrl.emptyValue" data-ng-hide="ctrl.workorder.change"></span>
            </div>
        </div>
    </div>

</div>

<sd-entity-chat entity="ctrl.workorder" type-map="ctrl.msgTypes">

</sd-entity-chat>


<button class="btn btn-default" data-ng-click="ctrl.createTestWorkorder();">Создать тестовый наряд</button>