<div class="entity-container">

    <div class="entity-container__content entity-container__header">
        <a data-ui-sref="app.workorder.list" title="Вернуться к списку">Наряды</a>
        <span> \ </span>
        <a data-ui-sref="app.workorder.card.view" title="Вернуться к просмотру">
                    №{{ctrl.headerWor.no}}: {{ctrl.headerWor.subject || ctrl.emptyValue}}
        </a>
        <span> \ </span>
        <span style="font-weight: bold">
                    Редактирование
        </span>
    </div>
    <!--Кнопки в верхнем меню-->
    <div class="entity-container__content">
        <div class="row">
            <!--Кнопки для управления статусом сущности-->
            <div class="col-md-6">
                <button class="btn btn-success" data-ng-disabled="!ctrl.workorder.checkModified()" data-ng-click="ctrl.saveEditing()">Сохранить</button>
                <button class="btn btn-danger" data-ng-click="ctrl.cancelEditing()">Отмена</button>
            </div>
        </div>
    </div>

    <div class="entity-container__content entity-properties">
        <div class="entity-property-col editing">
            <div class="entity-property-name">
                <span>Тема:</span>
            </div>
            <div class="entity-property-value">
                <sd-text target="ctrl.workorder.subject"
                ></sd-text>
            </div>
        </div>
        <div class="entity-property-col editing">
            <div class="entity-property-name">
                <span>Подробная информация:</span>
            </div>
            <div class="entity-property-value">
                <sd-textarea target="ctrl.workorder.description"
                             rows="1"
                ></sd-textarea>
            </div>
        </div>
    </div>

    <div class="entity-container__content entity-properties">
        <div class="entity-inline-property editing">
            <div class="entity-property-name">
                <span>Инициатор:</span>
            </div>
            <div class="entity-property-value">
                <sd-dropdown
                        target="ctrl.workorder.initiator"
                        fetch-data="ctrl.SD.Person.list()"
                        placeholder="Введите имя персоны"
                        display-value="$value.fullName"
                ></sd-dropdown>
            </div>
        </div>

        <div class="entity-inline-property editing">
            <div class="entity-property-name">
                <span>Исполнитель:</span>
            </div>
            <div class="entity-property-value">
                <sd-dropdown
                        target="ctrl.workorder.assigneePerson"
                        fetch-data="ctrl.SD.Person.list()"
                        placeholder="Введите имя персоны"
                        display-value="$value.fullName"
                ></sd-dropdown>
            </div>
        </div>
    </div>

    <div class="entity-container__content entity-properties">
        <div class="entity-inline-property editing">
            <div class="entity-property-name">
                <span>Дата создания:</span>
            </div>
            <div class="entity-property-value editing">
                <sd-datetime
                        target="ctrl.workorder.createdDate"
                        allow-empty="false"
                ></sd-datetime>
            </div>
        </div>

        <div class="entity-inline-property editing">
            <div class="entity-property-name">
                <span>Статус:</span>
            </div>
            <div class="entity-property-value">
                <sd-dropdown
                        target="ctrl.workorder.status"
                        fetch-data="ctrl.SD.EntityStatus.list()"
                        display-value="$value.fullName"
                        cache="true"
                ></sd-dropdown>
            </div>
        </div>

        <div class="entity-inline-property editing">
            <div class="entity-property-name">
                <span>Крайний срок:</span>
            </div>
            <div class="entity-property-value">
                <sd-datetime
                        target="ctrl.workorder.deadline"
                        allow-empty="false"
                ></sd-datetime>
            </div>
        </div>

        <div class="entity-inline-property editing">
            <div class="entity-property-name">
                <span>Приоритет:</span>
            </div>
            <div class="entity-property-value">
                <sd-dropdown
                        target="ctrl.workorder.priority"
                        fetch-data="ctrl.SD.EntityPriority.list()"
                        display-value="$value.fullName"
                        cache="true"
                ></sd-dropdown>
            </div>
        </div>

        <div class="entity-inline-property editing">
            <div class="entity-property-name">
                <span>Фатически выполнено:</span>
            </div>
            <div class="entity-property-value">
                <sd-datetime
                        target="ctrl.workorder.deadline"
                        allow-empty="false"
                ></sd-datetime>
            </div>
        </div>

        <!--<div class="entity-inline-property editing">-->
            <!--<div class="entity-property-name">-->
                <!--<span>Категория:</span>-->
            <!--</div>-->
            <!--<div class="entity-property-value">-->
                <!--<sd-dropdown-->
                        <!--target="ctrl.workorder.category"-->
                        <!--fetch-data="ctrl.SD.EntityCategory.list()"-->
                        <!--display-value="$value.name"-->
                        <!--cache="true"-->
                <!--&gt;</sd-dropdown>-->
            <!--</div>-->
        <!--</div>-->

        <div class="entity-inline-property editing">
            <div class="entity-property-name">
                <span>Рабочая группа:</span>
            </div>
            <div class="entity-property-value">
                <sd-dropdown
                        target="ctrl.workorder.workgroup"
                        fetch-data="ctrl.SD.Workgroup.list()"
                        placeholder="Введите название группы"
                        display-value="$value.name"
                ></sd-dropdown>
            </div>
        </div>

        <div class="entity-inline-property editing">
            <div class="entity-property-name">
                <span>Код завершения:</span>
            </div>
            <!--<div class="entity-property-value">-->
                <!--<sd-dropdown-->
                        <!--target="ctrl.workorder.closureCode"-->
                        <!--fetch-data="ctrl.SD.ClosureCode.list()"-->
                        <!--display-value="$value.fullName"-->
                        <!--cache="true"-->
                <!--&gt;</sd-dropdown>-->
            <!--</div>-->
        </div>
    </div>

</div>