<table class="entity-chat-table">
    <tr class="entity-chat-input">

        <td class="entity-chat-info-left"></td>

        <td class="entity-chat-input-body">
            <span class="entity-chat-input-body__title">
                Добавить комментарий
            </span>
            <textarea class="entity-chat-input-body__input"
                      rows="3"
                      placeholder="Введите текст комментария"
                      ng-model="ctrl.input"
            >
            </textarea>
            <button class="btn btn-default entity-chat-input-body__send"
                    data-ng-click="ctrl.send()"
                    data-ng-disabled="!ctrl.sendActive"
            >
                Отправить
            </button>
        </td>

        <td class="entity-chat-info-right"></td>
    </tr>
</table>