<div data-ng-show="!ctrl.isEditMode">
    <span>{{ctrl.name}}:</span>
    <a href="javascript:void(0)" data-ng-click="ctrl.edit()">{{ctrl.target}}</a>
</div>
<div data-ng-if="ctrl.isEditMode"
     data-sd-on-interact-out="ctrl.log()">
    <p>{{ctrl.name}}:</p>
    <div class="input-group btn-group-justified">
        <input class="form-control"
               type="text"
               name="field"
               data-ng-model="ctrl.editedValue"
               data-sd-focus="ctrl.isEditMode"
        >
        <button class="btn btn-success" data-ng-click="ctrl.commit()">OK</button>
    </div>
</div>