<div class="person_profile container well entity-container" data-ng-show="ctrl.person && !ctrl.loading">
    <div class="entity-container__header">
        {{ctrl.person.fullName}}
    </div>
    <hr class="entity-separator">
    <div class="entity-tools container-fluid row">
        <div class="col-md-6">
            <button class="btn btn-default" data-ng-click="window.alert('Наряд создан')">Создать наряд</button>
        </div>
        <div class="col-md-6" style="text-align: right">
            Статус персоны: <strong>Активен</strong>/Уволен
        </div>
    </div>
    <hr class="entity-separator">
    <div class="entity-content">
        <!-- Аватарка -->
        <div class="col-md-2">
            <div class="entity-avatar">
                <img width="128" height="128" src="img/logo.png">
            </div>
        </div>
        <div class="col-md-5">
            <div class="property">
                <div class="entity-property-name">Фамилия:</div>
                <div class="entity-property-value" data-ng-bind="ctrl.person.lastName"></div>
            </div>
            <div class="property">
                <div class="entity-property-name">Имя:</div>
                <div class="entity-property-value" data-ng-bind="ctrl.person.firstName"></div>
            </div>
            <div class="property">
                <div class="entity-property-name">Отчество:</div>
                <div class="entity-property-value" data-ng-bind="ctrl.person.middleName"></div>
            </div>
            <div class="property">
                <div class="entity-property-name">Должность:</div>
                <div class="entity-property-value" data-ng-bind="ctrl.person.job"></div>
            </div>
            <div class="property">
                <div class="entity-property-name">Организация:</div>
                <div class="entity-property-value" data-ng-bind="ctrl.person.organization"></div>
            </div>
            <div class="property">
                <div class="entity-property-name">Email:</div>
                <div class="entity-property-value" data-ng-bind="ctrl.person.email"></div>
            </div>
        </div>
    </div>
</div>

<div data-ng-show="ctrl.loading" style="padding-top: 200px; text-align: center">
    <div>Загрузка</div>
</div>

<div class="container" data-ng-if="ctrl.loadingError && !ctrl.loading" style="padding-top: 200px; text-align: center">
    <div class="panel panel-danger" data-ng-if="ctrl.loadingErrorIsNotFound">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-ban-circle"></span>
                Персона не найдена
            </h3>
        </div>
        <div class="panel-body">
            Перейдите ко
            <a data-ui-sref="app.main">списку персон</a>,
            чтобы найти нужную персону
        </div>
    </div>
    <div class="panel panel-danger" data-ng-if="ctrl.loadingErrorIsCustom">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-ban-circle"></span>
                Возникла непредвиденная ошибка
            </h3>
        </div>
        <div class="panel-body">
            <span data-ng-bind="ctrl.loadingError"></span>
        </div>
    </div>
</div>