<nav id="app-header" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="logo" src="img/logo.png">
            </a>
        </div>

        <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Пользователь"
                    ng-model="login">
                <input type="password" class="form-control" placeholder="Пароль"
                    ng-model="password">
            </div>
            <button type="button" class="btn btn-default" id="login"
                    data-ng-click="loginClick()">
                <span class="glyphicon glyphicon-log-in"></span>
                {{'common.button.login' | translate}}
            </button>
        </form>

        <!--<ul class="nav navbar-nav navbar-right">
            <li class="build_info">
                <div>Версия:</div>
                <div>Номер сборки:</div>
                <div>Дата сборки:</div>
            </li>
            <li class="build_info">
                <div>{{'Implementation-Version' | translate}}</div>
                <div>{{'Git-Revision' | translate}}</div>
                <div>{{'Build-Date' | translate}}</div>
            </li>
            <li class="usim-user-info">
                <div>
                    {{security.userTitle}} <br />
                    <select data-ng-model="security.currentMode"
                            data-ng-change="setMode()"
                            data-ng-options="mode.title for mode in security.modes">
                    </select>
                </div>
            </li>
            <li><a class="logout_link" data-ng-click="logout()"><img src="img/logout.png" height="20px" width="12px" alt="logout" title="Выход"></a></li>
        </ul>-->
    </div>
</nav>