<div id="changes">
    <!-- Панель фильтрации -->
    <div class="grid-filter">
        <div style="width: 120px; height: 40px; background-color: #5cb85c">123</div>
    </div>
    <!-- Панель кнопок над таблицей -->
    <div class="button_panel">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"
                        data-ng-click="alert('111')">
                    <span class="glyphicon glyphicon-search"></span>
                    Test1
                </button>
                <button type="button" class="btn btn-default"
                        data-ng-click="alert('111')">
                    <span class="glyphicon glyphicon-search"></span>
                    Test2
                </button>
                <button type="button" class="btn btn-default"
                        data-ng-click="alert('111')">
                    <span class="glyphicon glyphicon-search"></span>
                    Test4
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"
                        data-ng-click="alert('111')">
                    <span class="glyphicon glyphicon-search"></span>
                    Test4
                </button>
                <button type="button" class="btn btn-default"
                        data-ng-click="alert('111')">
                    <span class="glyphicon glyphicon-search"></span>
                    Test5
                </button>
            </div>
        </div>
    </div>
    <!-- Таблица -->
    <div id="grid-content">
        <div class="grid ui-grid" data-ui-grid="gridOptions" style="height: 500px"
             data-ui-grid-resize-columns
             data-ui-grid-selection
             data-ui-grid-pagination
             data-ui-gitd-autoResize>
        </div>
    </div>
</div>